.row {
  width: 100%;
  margin: auto;
}

.primary-nav {
  background: #ff7c7c;
}

body {
  padding-top: 14px;

  @include grid-media($hd) {
    padding-top: 52px;
  }

  &.has_submenu {
    padding-top: 110px;

  }
}

.hide {
  display: none !important;
}

.no-display {
  display: none !important;
}