.row {
  width: 100%;
  margin: auto;
}

.primary-nav {
  background: #ff7c7c;
}

body {
  padding-top: 14px;

  @include grid-media($lg) {
    padding-top: 60px;
  }
}

.hide {
  display: none !important;
}

.no-display {
  display: none !important;
}