{% block content %}
  <div class="post-selector">
  	{{news.title}}

  	{{news.header_medium}} {{news.header_text}}

  	<img src="{{Image(news.get_field('header_image')).src}}">
  </div>

{% endblock %}