<div class="c-search-results__result">
  <a class="c-search-results__link" href="{{post.link}}">{{post.title}}</a>
  <div class="c-search-results__content">{{post.content}}</div>
  <div class="c-search-results__category">SEO Career</div>
</div>