<section class="c-news-event">
  <div class="container">
    <div class="c-news-event__container">
      <div class="c-news-event__content">
      	<h3>{{component.event_heading_text}}</h3>
        <p>{{component.event_body_text}}</p>
        <a href="{{component.event_destination_url}}" class="c-uie__calltoaction">{{component.event_button_label}}</a>
      </div>
    </div>
  </div>
</section>
