<section>
  <div class="container">
    <div class="content-grid">
      <div class="c-rte">
        Link text is <a href="#">here</a> for test. Link text is <a href="#">here</a> for test.
        <br>
        <br>
        <br>
        <h1>Header cipsum dolor sit amet duo erat sea</h1>
        <div class="c-rte__text-spacing">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href="#">It has survived not only five centuries</a>, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div class="c-rte__text-spacing">
          <h3>An duo dicant</h3>
          <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</p>
          <div class="c-rte__offset-quote">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span>Lorem Ipsum</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="content-grid">
      <label class="c-uie__radiobutton">One
        <input type="radio" checked="checked" name="radio">
        <span class="c-uie__checkmark"></span>
      </label>
      <label class="c-uie__radiobutton">Two
        <input type="radio" name="radio">
        <span class="c-uie__checkmark"></span>
      </label>
      <label class="c-uie__radiobutton">Three
        <input type="radio" name="radio">
        <span class="c-uie__checkmark"></span>
      </label>
      <label class="c-uie__radiobutton">Four
        <input type="radio" name="radio">
        <span class="c-uie__checkmark"></span>
      </label>
      <label class="c-uie__checkbox">One
        <input type="checkbox" checked="checked">
        <span class="c-uie__checkmark"></span>
      </label>
      <label class="c-uie__checkbox">Two
        <input type="checkbox">
        <span class="c-uie__checkmark"></span>
      </label>
      <label class="c-uie__checkbox">Three
        <input type="checkbox">
        <span class="c-uie__checkmark"></span>
      </label>
      <label class="c-uie__checkbox">Four
        <input type="checkbox">
        <span class="c-uie__checkmark"></span>
      </label>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="content-grid">
      <label class="c-uie__input">
        <input type="text" id="fname" name="firstname" placeholder="Input Hint Text">
      </label>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="content-grid">
      <a href="#" class="c-uie__calltoaction">Call to Action</a>
      <a href="#" class="c-uie__calltoaction-secondary">Secondary Call to Action</a>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="content-grid">
      <div class="c-uie__dropdown">
        <label class="c-uie__dropdown-heading">
          <span>Dropdown</span>
          <div class="c-uie__dropdown-list" name="img_category">
            <span class="selected"></span>
            <ul class="c-uie__dropdown-options">
              <li class="c-uie__dropdown-option">Item 1</li>
              <li class="c-uie__dropdown-option">Item 2</li>
              <li class="c-uie__dropdown-option">Item 3</li>
              <li class="c-uie__dropdown-option">Item 4</li>
            </ul>
          </div>
        </label>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="content-grid">
      <div class="c-ratiometer">
        <div class="c-ratiometer-meter_out">
          <div class="c-rationmeter-meter" style="background-image: url('https://thecommunicationsmastery.com/wp-content/uploads/2016/03/bigstock-Students-87084494-min-450x450.jpg')">
            </div>
        </div>
        <div class="c-rationmeter-text">
          <h1>57% oratio verear sed et eu pri alii feugiat</h1>
        </div>
      </div>
    </div>
  </div>
</section>