//cta

.c-cta--text {
  background: $black;
  margin: 0 auto;
  position: relative;
  max-width: $container-width;
  width: 100%;
  padding: 50px;
  position: relative;
  z-index: 0;

  @include grid-container;

  @include grid-media($md) {
    align-items: center;
    display: flex;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-image: linear-gradient(to bottom, rgba(210, 42, 47, 3) 0%, rgba(255, 103, 27, 1) 100%);
  }
}

.c-cta--text__head {
  margin-top: 0;
  margin-bottom: 25px;
  @include type-2($color: $light-gray);
  font-weight: $font-bold;

  @include grid-media($md) {
    margin-bottom: 0;
  }
}

.c-cta--text__url {
  text-align: center;
  text-decoration: none;
  font-weight: $font-bold;

  &.button--cta {
    margin-bottom: 0;
  }
}

.c-cta__left,
.c-cta__right {
  @include grid-column(12);
}

@include grid-media($md) {
  .c-cta__left {
    @include grid-column(8);
  }

  .c-cta__right {
    @include grid-column(4);
    text-align: right;
  }
}



// Download CTA

.c-cta--download {
  background: $eggshell;
  padding: 40px;
  margin: 20px 0;

  h3 {
    @include type-3;
    margin-top: 0;
    margin-bottom: .9em;
  }

  ul {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 40px;
    }

    li {
      @include type-5-bold;
      display: inline-block;
      margin: 0 15px 0 0;
    }
  }

  a.c-rte__link {
    font-weight: $font-normal;
  }
}



// Image CTA
.c-cta--image {
  margin: 0 auto;
  position: relative;
  max-width: $container-width;
  color: $white;
  padding: 50px;
  width: 100%;
  z-index: 0;
  background-size: cover !important;

  @include grid-container;

  .c-cta__left,
  .c-cta__right {
    @include grid-column(12);
  }

  @include grid-media($md) {
    .c-cta__left {
      @include grid-column(4);
    }

    .c-cta__right {
      @include grid-column(8);
      text-align: left;
      border-spacing: 15px 0;
    }
  }
}

.c-cta--image__head {
  @include type-custom($color: $white, $font-weight: $font-bold, $font-size: 38.77px, $line-height: 1);
  margin-top: 0;
  margin-bottom: 15px;
}

.c-cta--image__subhead {
  @include default($color: $white);
  margin-bottom: 0;
}

.c-cta--image__link--prim {
  @include default($color: $white);
  font-weight: $font-bold;

  &:hover,
  &:focus {
    color: $white;
  }

  .icon-arrow-white--right {
    position: relative;
    top: 1px;
  }
}

.c-cta--image__link--sec {
  @include type-5($color: $white);
  display: block;
  margin-top: 25px;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $white;
  }
}

.c-cta--image__button {
  @include type-3($color: $white);
  border: 2px solid $white;
  padding: 22px;
  float: left;
  width: 100%;
  margin-top: 25px;

  @include grid-media($md) {
    float: none;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }

  .icon-arrow-white--right {
    &:before {
      width: 10px;
      height: 14px;
    }
  }

  &:hover,
  &:focus {
    background: $eggshell;

    .icon-arrow-white--right {
      &:before {        
        background: url('/mastercard-foundation-main/wp-content/themes/mastercard-foundation/assets/img/icons/icon-arrow--right.svg') center center no-repeat;
        background-size: contain;
      }
    }
  }
}