// COLORS
$tout-copy-border-width: 6;
$tout-copy-border-radius: 100px;
$tout-copy-vertical-spacing: 50;
$tout-copy-horizontal-spacing: 50;
$primary-tout-border-color: $eggshell;
$tout-copy-primary-hover: $white;

$button-border-width: 2.5;
$button-border-radius: 100px;
$button-vertical-spacing: 10;
$button-horizontal-spacing: 30;
$button-primary: $orange;
$button-primary-hover: $red;

.home {
  .home-container {
    position: relative;
  }

  .off-canvas-content {
    position: relative;
  }

  .button-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 0;
    vertical-align: top;
  }

  .content-block {
    @include grid-column(10);
    @include grid-push(1);
    margin-bottom: 50px;
    
    &--center {
      text-align: center;
    }
    
    @include grid-media($md) {
      @include grid-column(6);
      @include grid-push(3);
    }
  }

  .hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-bottom: 10px;
    position: relative;
    width: 100vw;
    
    @include grid-media($md) {
      margin-bottom: 50px;
    }
    
      &::before {
      background-color: rgba(0,0,0, 0.2);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .bottom-border {
      bottom: 0;
      position: absolute;
      width: 100%; 
      height: 60px;
      margin:0 auto;
      overflow:hidden;

    @include grid-media($md) {
      height: 165px; 
    }
    
    &::after{
      border-radius:100%;
      box-shadow: 0px 0px 0px 1000px $white;
      content:''; 
      height: 80px;
      left:-5%;
      margin: auto;
      position:absolute;
      right: -5%;
      top:-38%;
      width:110%; 
      z-index: 100;
        
      @include grid-media($md) {
        height: 250px; 
        top:-52%;
      }
    } 
  }

   .bottom-circle {
      background-color: $primary-tout-border-color;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
      bottom: 0;
      height: 450px;
      left: -50vw;
      margin: auto;
      position: absolute;
      right: -50vw;
      width: 150vw;
     
     @include grid-media($md) {
       height: 400px;
     }
   }

  .home__head {
    font-size: 34px;
    font-weight: 100;
  }

  .link {
    font-size: 19px;
    line-height: 27px;
    
    &.link--arrow {
      color: #000;
      font-weight: 700;
      text-decoration: none;
    }
  }

  .fa-angle-right {
    font-weight: bold;
  }

  .hero__copy {
    @include grid-column(10); 
    @include grid-push(1); 
    bottom: 30px;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    left: 0;
    line-height: 36px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 100;
    
    @include grid-media($md) {
      @include grid-column(8); 
      @include grid-push(2); 
      
      bottom: 50px;
      font-size: 49px;
      line-height: 51px;
    }
  }



  .teaser {
    @include grid-column(10); 
    @include grid-push(1);  
    color: #709424;
    font-family: 'Roboto', serif;
    left: 0;
    // margin-top: 100px;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 100;
    
    @include grid-media($md) {
      @include grid-column(6); 
      @include grid-push(3);  
    }
    
    &__date {
      color: inherit;
      font-size: 19px;
      font-weight: 300;
      line-height: 27px;
    }
    
    &__title {
      color: inherit;
      font-size: 42px;
      font-weight: 700;
      line-height: 46px;
      margin-top: 20px;
      
      @include grid-media($md) {
        font-size: 55px;
        line-height: 42px;
        margin-top: 40px;
      }
    }
   
    
    &__copy {
      color: #000;
      font-size: 19px;
      line-height: 27px;
      margin-bottom: 10px;
    }
  }

  .teaser-wrapper { 
    margin-top: 375px;
    position: relative;
    
    .container {
      position: relative;
      top: -280px;
    }
  }

  .cta {
    .content-block {
      margin-bottom: 0;
    }
    
    &.cta--footer {
      bottom: -115px;
      height: 325px;
      position: absolute;
      text-align: center;
      width: 100%;
      @include grid-column(10);  
      @include grid-push(1);  

      @include grid-media($md) {
        bottom: -70px;
        height: 250px;
      }
      
      .cta__container {
        background-color: $black;
        bottom: -150px;
        height: 100%;
        margin: 0 auto;
        max-width: 1200px;
        overflow: hidden;
        width: 100%;
      }
      
      .cta__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 20px;
        position: relative;
        
        &:before {
          background:linear-gradient(to right, $red, $orange);
          content:'';
          position:absolute;
          width:100%;
          height: 6px;
          top: 0;
          left:0;
        } 
      }
    }
    
    .cta__copy {
      color: $white;
      font-size: 30px;
      margin: 0 0 20px;

      @include grid-media($md) {
        font-size: 35px;
      }
    }
  }

  } //Home End

  // Image Tout

  .tout-container {
    @include grid-column(10); 
    @include grid-push(1); 
    
    @include grid-media($lg) {
      @include grid-column(8); 
      @include grid-push(2); 
    }
  }

  .tout--image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & + & {
      margin-top: 40px;
      
      @include grid-media($md) {
        margin-top: 20px;
      }
    }
    
    @include grid-media($md) {
      flex-direction: row;
    }
  }

  .tout--image-poster {
    border-radius: 100%;
    
    @include grid-media($md){
      .tout--right & {
        order: 0;
      }
      .tout--left & {
        order: 1;
      }
    }
  }

  .tout--image__copy {
    background-color: #fff;
    font-size: 27px;
    font-weight: 700;
    padding: 50px;
    
    @include grid-media($md){
      .tout--right & {
        order: 1;
      }

      .tout--left & {
        order: 0;
      }
    }
  }
  
  .tout-image__copy {
    background: white;
    border: 0;
    border-radius: $tout-copy-border-radius;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 0;
    vertical-align: top;
  }

  .tout-copy {
    background-color: transparent;
    border: #{$tout-copy-border-width}px solid transparent;
    border-radius: $tout-copy-border-radius;
    color: $white;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: #{$tout-copy-vertical-spacing}px #{$tout-copy-horizontal-spacing}px;
    text-align: center;
    text-decoration: none;
    position: relative;
    
    @include grid-media($md) {
      font-size: 20px;
      text-align: left;
    }
    
    &:before {
      background: $primary-tout-border-color;
      border-radius: 0;
      content: "";
      position: absolute;
      left: -#{$tout-copy-border-width}px;
      right: -#{$tout-copy-border-width}px;
      top: -#{$tout-copy-border-width}px;
      bottom: -#{$tout-copy-border-width}px;
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      left: -#{$tout-copy-border-width}px;
      right: -#{$tout-copy-border-width}px;
      top: -#{$tout-copy-border-width}px;
      bottom: -#{$tout-copy-border-width}px;
      z-index: -1;
      background: $tout-copy-primary-hover;
      background-repeat: no-repeat;
      transform: scaleX(0);
      transform-origin: 0 80%;
      transition: transform .5s .3s, opacity .8s ease;
      box-shadow: 0 -15px 20px 20px white;
      opacity: 1;
      transform: scaleX(1);
    }
    
    .tout--left &::after,
    .tout--right &::after {
        background-image: linear-gradient(to top, $primary-tout-border-color 0%, $primary-tout-border-color 30%, white 100%), linear-gradient(to top, $primary-tout-border-color 0%, $primary-tout-border-color 30%, white 100%);
    }
    
    .tout--left &::after {
        @include grid-media($md) {
            background-image: linear-gradient(to right, $primary-tout-border-color 0%, $primary-tout-border-color 30%, white 100%), linear-gradient(to right, $primary-tout-border-color 0%, white 100%);
      }
    }
    
    .tout--right &::after {
        @include grid-media($md) {
                  background-image: linear-gradient(to left, $primary-tout-border-color 0%, $primary-tout-border-color 30%, white 100%), linear-gradient(to left, $primary-tout-border-color 0%, $primary-tout-border-color 30%, white 100%);
      }
    }

    &.tout-copy--outline {
      background-color: $white;
      background-clip: padding-box;
      color: black;

      &:after {
        border-radius: $tout-copy-border-radius;
        opacity: 1;
      }
    }
  }
