{% block html_head_container %}
  {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      
      <header class="site-header">
        <div class="container">
          {% block nav %}
            {% include 'nav.twig' %}
          {% endblock %}
        </div>
      </header>
      
      <div class="c-body container" data-off-canvas-content>
        {% block header %}
          {% include 'searchform.twig' %}
        {% endblock %}

        {# <div class="container"> #}
          {% block content %}
            <main class="page-content row">
              <section class="post-list small-12 columns">
                <p>Sorry, no entries match your criteria</p>
              </section> <!-- /.post-list.small-12.columns -->
            </main> <!-- /.page-content.row -->
          {% endblock %}
        {# </div> #}

        {{cta}}
      </div> <!-- /.off-canvas-content -->
      
      {% block footer %}
          <footer class="site-footer" role="contentinfo">
            {% include 'footer.twig' %}
          </footer> <!-- /.site-footer -->
          <a class="exit-off-canvas"></a>
        {% endblock %}

    </div> <!-- /.off-canvas-wrapper-inner -->
  </div> <!-- /.off-canvas-wrapper -->
  {{ function('wp_footer') }}
</body>