{% extends "base.twig" %}

{% block content %}
  <main id="content">
    <div class="page-content">
      <article id="post-{{post.ID}}" class="article post-type-{{post.post_type}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <section class="entry-content" itemprop="articleBody">

          {# Amalan new codes #}
          {% for region in post.get_field('template:_content_detail') %}
            {% include ['region/'~region.acf_fc_layout~'.twig' , 'region/region.twig'] ignore missing with {"region": region} %}
          {% endfor %}
          {# End of lines from amalan #}

        </section> <!-- /.entry-content -->
        {% block article_footer %}
        {% endblock %}
      </article> <!-- /.article -->
    </div> <!-- /.page-content.small-12.large-8.columns -->

    {% block sidebar %}
      <aside class="page-sidebar">
        {{sidebar}}
      </aside> <!-- /.page-sidebar -->
    {% endblock %}
  </main> <!-- /#content -->
{% endblock %}