{% extends "base.twig" %}

{% block content %}
  {# <div class="container"> #}
  <main id="content">
    <div class="page-content">
      <article id="post-{{post.ID}}" class="article post-type-{{post.post_type}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <section class="entry-content" itemprop="articleBody">

          {# Amalan new codes #}
          <div class="container region_hero">
            {% for component in post.get_field('region:_content_region_top') %}
              {% include ['components/'~component.acf_fc_layout~'.twig' , 'components/components.twig'] ignore missing with {"component": component} %}
            {% endfor %}
          </div>
  
          <div class="container region_main_content">
            {% for component in post.get_field('region:_content_region_main') %}
              {% include ['components/'~component.acf_fc_layout~'.twig' , 'components/components.twig'] ignore missing with {"component": component} %}
            {% endfor %}
          </div>

          <div class="container region_left_rail">
            {% for component in post.get_field('region:_content_region_left') %}
              {% include ['components/'~component.acf_fc_layout~'.twig' , 'components/components.twig'] ignore missing with {"component": component} %}
            {% endfor %}
          </div>

          <div class="container region_bottom">
            {% for component in post.get_field('region:_content_region_bottom') %}
              {% include ['components/'~component.acf_fc_layout~'.twig' , 'components/components.twig'] ignore missing with {"component": component} %}
            {% endfor %}
          </div>
          {# End of the new codes - Amalan #}

        </section> <!-- /.entry-content -->
        {% block article_footer %}
        {% endblock %}
      </article> <!-- /.article -->
    </div> <!-- /.page-content.small-12.large-8.columns -->

    {% block sidebar %}
      <aside class="page-sidebar">
        {{sidebar}}
      </aside> <!-- /.page-sidebar -->
    {% endblock %}
  </main> <!-- /#content -->
  {# </div> #}
{% endblock %}