{# <div class="container"> #}
<div class="c-footer__widget-container">
  <div class="c-footer__widgets">
     {{footer_widgets}}
  </div>
  </div>
  {# <div class="c-footer__copyrights">
    <p class="copyright">&copy; {{"now"|date('Y')}}
  </div> #} 
{# </div>  #}
