{% extends "base.twig" %}

{% block content %}
	<main id="content">
	    <div class="page-content c-news-events">
	      {# <div class="container region_hero"> #}
	        {# including the featured Event #}
			{% if featured_posts %}
				{% include ['partials/featured_news.twig'] %}
			{% endif %}
	      {# </div> #}

	      <div class="container region_body">
	        <div class="container region_main_content">
	          {# Adding Body #}
	          {% set component = post.get_field('body') %}
	          	{% include ['components/news/component_news_body.twig'] %}
	        </div>

	        <div class="container region_left_rail">
	          	{# Adding promotional #}
				{% set component = post.get_field('promotional_area') %}
				{% if component.include_promotional == "yes" %}
					{% include ['components/news_landing/component_promotional.twig'] %}
				{% endif %}

	          {# Adding Share #}
	          {# {% include ['share.twig'] %} #}
	        </div>
	      </div>
	    </div>
	</main>
{% endblock %}