{% extends "base.twig" %}

{% block content %}
	<main id="content">
	    <div class="page-content c-news-events">

			{% if featured_posts %}
				{% include ['partials/featured_news.twig'] %}
			{% endif %}

	      <div class="container region_body">
	        <div class="container region_main_content">
	          {# Adding Body #}
            <section class="posts-selector">
            	{# Need to add the filters here #}
            	<div class="c-news-filter">
								{{tags_filter_NE_landingpage}}
							</div>
							<div class="c-news-filter">
								{{site_filter_NE_landingpage}}
							</div>
							
							<div class="container news-list">
								{% set arr = [] %}
								{% set arr = arr|merge({'post_type': 'news'}) %}
								{% set arr = arr|merge({'list': 10}) %}
								{% set arr = arr|merge({'paginate': 'true'}) %}
								{{ function('netsposts_shortcode', arr) }}
							</div>
							

            </section>
	        </div>

	        <div class="container region_left_rail">
          	{# Adding promotional #}
    				{% set component = post.get_field('promotional_area') %}
    				{% if component.include_promotional == "yes" %}
    					{% include ['components/news_landing/component_promotional.twig'] %}
    				{% endif %}

	        </div>
	      </div>
	    </div>
	</main>
{% endblock %}