{% extends "base.twig" %}

{% block content %}
  <main id="content" class="row">
      <div class="page-content small-12 columns">
        {{ content }}
      </div><!-- /.page.content.small-12.columns -->
  </main><!-- /#content -->
{% endblock %}
