{% extends "base.twig" %}

{% block content %}
  <main id="content" class="program-landing-page">
    <div class="page-content">
          {# Amalan new codes #}
          <div class="region_hero">
            <div class="page-title">
              <h1>{{post.title}}</h1>
            </div>

            {% set component = post.get_field('event_info') %}
            {% include ['components/component_pl_event_info.twig'] %}

            {% for component in post.get_field('flexi_content') %}
              {% include ['components/'~component.acf_fc_layout~'.twig' , 'components/components.twig'] ignore missing with {"component": component} %}
            {% endfor %}
          </div>

        {% block article_footer %}
        {% endblock %}
    </div>

    {% block sidebar %}
      <aside class="page-sidebar">
        {{sidebar}}
      </aside>
    {% endblock %}
  </main>
{% endblock %}