{% extends "base.twig" %}

{% block content %}
  <main id="content" class="program-landing-page">
    <div class="page-content">
          {# Amalan new codes #}
          <div class="region_hero">
            {% set component = post.get_field('event_info') %}
            {% include ['components/component_pl_event_info.twig'] %}

            {% for component in post.get_field('flexi_content') %}
              {% include ['components/'~component.acf_fc_layout~'.twig' , 'components/components.twig'] ignore missing with {"component": component} %}
            {% endfor %}
          </div>

        {% block article_footer %}
        {% endblock %}
    </div>

    {% block sidebar %}
      <aside class="page-sidebar">
        {{sidebar}}
      </aside>
    {% endblock %}
  </main>
{% endblock %}

{% block signupjs %}
  <!-- Begin Constant Contact Active Forms -->
  <script> var _ctct_m = "b4068ca137eb42a8ae9ae4ff88a61c7b"; </script>
  <script id="signupScript" src="https://static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
  <!-- End Constant Contact Active Forms -->
{% endblock %}