{% extends "base.twig" %}

{% block content %}
  {# <div class="container"> #}
  <main id="content" class="program-landing-page">
    <div class="page-content">

      {% set component = post.get_field('hero') %}
      {% include ['components/component_ph_hero.twig'] %}

      
      {% for component in post.get_field('flexi_content') %}
        {% include ['components/'~component.acf_fc_layout~'.twig' , 'components/components.twig'] ignore missing with {"component": component} %}
      {% endfor %}

      {% block article_footer %}
      {% endblock %}

    </div>

    {% block sidebar %}
    {% endblock %}
  </main>
{% endblock %}