<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<section>
	{# <div class="container"> #}
		<div class="c-share__container">
			<div class="c-share__title">
				<h2>Share this article</h2>
			</div>
			<div class="c-share__buttons">
				<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="small"></a>
			</div>
		</div>
	{# </div> #}
</section>