<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="Large"></a>