{% extends "base.twig" %}

{% block content %}
  <main id="content" class="row">
    <div class="page-content small-12 large-8 columns">
      <article id="password-protected" class="article" role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="article-header">
          {% block article_header %}
            <h1 class="page-title">This content is password protected.</h1>
          {% endblock %}
        </header> <!-- /.article-header -->
        <section class="entry-content" itemprop="articleBody">
            <form class="password-form" action="{{password_form_action_url}}" method="post">
                <label for="pwbox-{{post.ID}}">Password:</label>
                <input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
                <input class="password-btn" type="submit" name="Submit" value="Submit" />
            </form>
        </section> <!-- /.entry-content -->
      </article> <!-- /.article -->
    </div> <!-- /.page-content.small-12.large-8.columns -->
  </main> <!-- /#content -->
{% endblock %}
