{% extends "single.twig" %}

{% block content %}

  <main id="content" class="single-news">
    <div class="page-content">
		
			{# Adding news header #}
			{% set component = post.get_field('header') %}
			{% include ['components/news/component_news_header.twig'] %}

			{# Adding Body #}
			{% set component = post.get_field('body') %}
			{% include ['components/news/component_news_body.twig'] %}

{# Adding CTA #}

{# Adding Event module #}

{# Adding Share #}

{#       {% set component = post.get_field('hero') %}
      {% include ['components/component_gh_hero.twig'] %} #}
    </div>

  </main>
{% endblock %}