{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <main id="content">
      <div class="page-content">
        <h1 class="page-title">{{post.title}}</h1>
        {{post.content}}
      </div>
    </main>
  </div>
{% endblock %}