//hero images

.c-hero--noimage {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    z-index: 0;
    background: #f1efeb;
    top: -32%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 100%;

    @include grid-media($md) {
      height: 150%;
      top: -130%;
    }
  }
}

.c-hero--portrait {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    width: 150%;
    height: 80%;
    z-index: 0;
    background: #f1efeb;
    top: -50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 100%;

    @include grid-media($md) {
      width: 100%;
      height: 150%;
      top: -110%;
    }
  }

  .c-hero__image, .c-hero__caption {
    @include grid-column(10);

    margin: auto;
    float: none;
    max-width: 244px;
    position: relative;

    @include grid-media($md) {
      @include grid-column(6);

      margin: auto;
      float: none;
      max-width: 332px;
    }
  }

  .c-hero__caption {
    p {
      @include type-custom($color: $dark-gray-three, $font-weight: $font-normal, $font-size: 13.4px, $line-height: 1.6);

      margin: 0;
      margin-top: 5px;

      @include grid-media($md) {
        @include type-custom($color: $dark-gray-three, $font-weight: $font-normal, $font-size: 12px, $line-height: 1.6);
      }
    }
  }

  .c-hero__body {
    h1 {
      margin: 0;
      margin-top: 30px;

      @include grid-media($md) {
        margin-top: 46px;
      }
    }
  }
}

.c-hero {
  position: relative;

  .c-hero__image {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;

    @include grid-media($md) {
      height: 360px;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, $gradient-white, $gradient-black);
      }
    }
  }

  .c-hero__body {
    @include grid-media($md) {
      position: absolute;
      bottom: 35px;
      left: 50px;
      padding-bottom: 35px;
    }


    h1 {
      margin: 0;
      margin-top: 22px;
      text-align: left;

      @include grid-media($md) {
        margin-top: 0;
        color: $white;
      }
    }

    h3 {
      margin: 0;
      margin-top: 15px;
      text-align: left;

      @include grid-media($md) {
        color: $white;
      }
    }
  }

  .c-hero__caption {
    p {
      display: none;

      @include grid-media($md) {
        display: block;

        @include type-custom($color: $dark-gray-three, $font-weight: $font-normal, $font-size: 13.4px, $line-height: 1.6);

        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

.c-hero__body {
  h1 {
    @include type-1($color: $dark-gray-two);

    text-align: center;
  }

  h3 {
    @include type-3($color: $black);

    font-weight: $font-normal;
    text-align: center;
  }
}