//link set

.c-linkset {
  background: $eggshell;
  @include grid-container;
  padding: 15px 0;

  h2 {
    @include type-2-bold;
    margin: 0;
  }

  p {
    @include default;
    margin: 10px 0 15px;
  }
}

.c-linkset--block {
  @include grid-column(12);

  @include grid-media($md) {
    @include grid-column(4);
  }
}