/* Cta */

.c-cta__wrapper {
  &.border {
    border: 1px solid $light-gray;
  }

  @include grid-column(12, $no-gutter);

  max-width: 350px;
  padding-bottom: 20px;
  padding: 0;

  h3 {
    margin: 0;
    padding: 40px 27px 40px 50px;

    @include grid-media($sm) {
      padding: 20px;
    }


    @include grid-media($md) {
      padding: 40px 27px 40px 50px;
    }
  }

  .c-cta--image {
    width: 80%;

    include grid-media($sm) {
      width: 294px;
    }

    height: 196px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .c-uie__calltoaction-secondary {
    margin: 40px 0 45px 50px;
    display: inline-block;

    @include grid-media($sm) {
      margin: 20px;
    }


    @include grid-media($md) {
      margin: 40px 0 45px 50px;
    }
  }
}