/* Footer */

footer.site-footer {
  .container {
    background: $black;
    padding: 15px;

    @include grid-media($lg) {
          padding: 35px 50px;
    }


    a,
    p {
      color: $white;
    }

    .c-footer__widgets {
      @include grid-column(12, $no-gutter);

      // .c-footer__logo {
      //   @include grid-column(8, $no-gutter);

      //   @include grid-media($lg) {
      //     @include grid-column(6, $no-gutter);
      //   }     
      // }

      .menu-footer-left-container,
      .menu-footer-right-container {
        @include grid-column(12, $no-gutter);

        border-left: none;
        padding-left: 0;

        @include grid-media($lg) {
          margin-top: -83px;
          @include grid-column(2, $no-gutter);

          border-left: 1px solid grey;
          padding-left: 20px;
          float: right;
        }


        li {
          text-align: center;
          width: auto;
          padding: 0;

          @include grid-column(12, $no-gutter);

          @include grid-media($lg) {
            text-align: left;
          }


          a {
            font-size: 15px;
          }
        }
      }

      .menu-social-container {
        @include grid-column(12, $no-gutter);

        text-align: center;

        @include grid-media($lg) {
          @include grid-column(2.2, $no-gutter);

          text-align: left;
          margin-top: 63px;
        }


        #menu-social {
          width: 140px;
          margin: auto;

          @include grid-media($lg) {
            width: auto;
          }


          li {
            display: inline-block;
            text-align: center;
            width: auto;
            padding: 0;

            @include grid-media($lg) {
              text-align: left;
            }


            a {
              span.menu-image-title {
                display: none;
              }
            }
          }
        }
      }

      .textwidget {
        @include grid-column(12, $no-gutter);

        text-align: center;

        @include grid-media($lg) {
          @include grid-column(5, $no-gutter);

          text-align: left;
          margin-top: 73px;
        }


        p {
          font-size: 15px;
          margin: 0;
        }
      }
    } 
  }
}