/* Program Landing */

.gallery-page {
  section {
    @include grid-media($max-md) {
      border-bottom: 1px solid $light-gray;
    }


    .container {
      padding: 0 35px;
    }
  }

  .page-title {
    max-width: 1024px;
    margin: 0 auto;

    // text-align: center;
    // width: 80%;
    // margin: auto;

    h1 {
      //   font-weight: $font-thinnest;
      margin: 0;
      font-size: 42px;
      padding: 0 35px;

      //   max-width: 800px;
      margin-top: 30px;
      margin-bottom: 30px;

      &:before {
        content: none;
      }

      @include grid-media($lg) {
        padding: 0;
        font-size: 61px;

        //     max-width: 800px;
        margin-top: 100px;
        margin-bottom: 45px;
      }
    }
  }

  .container.gallery-large-image-container {
    padding: 0;

    .c-gallery__gallery-item .item__image {
      @include grid-media($max-md) {
        max-width: 85%;
      }
    }

    .c-gallery__section-header,
    .c-gallery__gallery-item .item__heading,
    .c-gallery__gallery-item .item__sub-heading,
    .c-gallery__gallery-item .item__description {
      @include grid-media($max-md) {
        padding: 0 35px;
      }
    }
  }
}

.container.region_hero {
  .c-gallery__container, .c-gallery__section-header {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.c-gallery__container {
  &.image-only {
    .c-gallery__gallery-item {
      @include grid-column(5.5, $no-gutter);

      display: inline-block;
      position: relative;
      border: 2px solid #e5e7e7;
      background: white;
      height: 80px;
      margin-right: 8%;
      margin-bottom: 35px;

      @include grid-media($max-sm) {
        &.even {
          margin-right: 0;
        }
      }


      &.last {
        margin-right: 0;
      }

      @include grid-media($sm) {
        @include grid-column(3.6, $no-gutter);

        height: 100px;
        margin-right: 5%;
        margin-bottom: 35px;

        @include grid-media($max-md) {
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }


      @include grid-media($md) {
        @include grid-column(2.5, $no-gutter);

        height: 140px;
        margin-right: 5.5%;
        margin-bottom: 40px;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }


      &:hover {
        @include grid-media($md) {
          &:after {
            content: "";
            position: absolute;
            top: -12px;
            right: -12px;

            // width: 35px;
            // height: 35px;
            border-top: 8px solid black;
            border-right: 8px solid black;

            // @include grid-media($md) {
            width: 59px;
            height: 48px;

            // }
         
          }
        }
      }

      img {
        max-width: 100%;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .bw-hover {
      .c-gallery__gallery-item {
        &:hover {
          img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  &.text-only {
    .c-gallery__gallery-item {
      @include grid-column(12, $no-gutter);

      margin-bottom: 40px;
      padding-left: 20px;
      display: inline-block;
      border-left: 8px solid black;
      position: relative;

      @include grid-media($sm) {
        @include grid-column(6, $no-gutter);
      }


      @include grid-media($md) {
        @include grid-column(4, $no-gutter);

        margin-bottom: 35px;
      }


      .item__heading {
        margin-bottom: 15px;

        h3 {
          margin: 0;
          line-height: 0.8;
          font-size: 19px;
          font-weight: $font-bold;
        }
      }

      .item__sub-heading {
        p {
          margin: 0;
          font-size: 18px;
          line-height: 0.8;
        }
      }

      .item__link {
        margin-top: 15px;
        line-height: 1;

        a {
          font-size: 14px;
          font-weight: $font-normal;
        }
      }
    }
  }

  &.image-small {
    .c-gallery__gallery-item {
      @include grid-column(12, $no-gutter);

      // width: 279px;
      display: inline-block;
      position: relative;
      margin-bottom: 35px;

      @include grid-media($sm) {
        // @include grid-column(6, $no-gutter);
        width: 279px;
      }


      @include grid-media($md) {
        // @include grid-column(4, $no-gutter);
        width: 335px;
        margin-bottom: 45px;
      }


      img {
        width: 45%;
        height: 45%;
        float: left;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        @include grid-media($sm) {
          width: 130px;
          height: 130px;
        }
      }

      &:hover {
        img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }

      .item__heading,
      .item__sub-heading,
      .item__link {
        float: left;
        margin-left: 15px;
        width: 35%;

        @include grid-media($md) {
          // float: left;
        }
      }

      .item__heading {
        margin-bottom: 15px;

        h3 {
          margin: 0;
          line-height: 0.8;
          font-size: 19px;
          font-weight: $font-bold;
        }
      }

      .item__sub-heading {
        p {
          margin: 0;
          font-size: 18px;
          line-height: 0.8;
        }
      }

      .item__link {
        margin-top: 15px;
        line-height: 1;

        a {
          font-size: 14px;
          font-weight: $font-normal;
        }
      }
    }
  }

  &.image-medium {
    .c-gallery__gallery-item {
      @include grid-column(12, $no-gutter);

      // width: 279px;

      // height: 279px;
      display: inline-block;
      position: relative;
      margin-bottom: 50px;

      @include grid-media($sm) {
        // @include grid-column(5.6, $no-gutter);
        width: 279px;
        height: 400px;

        // height: 100px;
        margin-right: 5%;
        margin-bottom: 35px;

        @include grid-media($max-md) {
          &:nth-child(even) {
            margin-right: 0;
          }
        }
      }


      @include grid-media($md) {
        // @include grid-column(2.5, $no-gutter);
        width: 222px;
        height: 320px;
        margin-right: 3.2%;
        margin-bottom: 40px;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }


      .c-gallery__image {
        width: 100%;

        // max-width: 279px;
        height: 279px;
        transition: filter .5s ease-in-out;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include grid-media($md) {
          height: 219px;
        }
      }

      &:hover {
        .c-gallery__image {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }

        @include grid-media($md) {
          &:after {
            content: "";
            position: absolute;
            top: -16px;
            right: -16px;
            width: 59px;
            height: 48px;
            border-top: 8px solid black;
            border-right: 8px solid black;
          }
        }
      }

      .item__heading,
      .item__sub-heading,
      .item__link {
        @include grid-column(12, $no-gutter);
      }

      .item__heading {
        margin-top: 20px;
        margin-bottom: 15px;

        h3 {
          margin: 0;
          line-height: 0.8;
          font-size: 19px;
          font-weight: $font-bold;
        }
      }

      .item__sub-heading {
        p {
          margin: 0;
          font-size: 18px;
          line-height: 0.8;
        }
      }

      .item__link {
        margin-top: 15px;
        line-height: 1;

        a {
          font-size: 14px;
          font-weight: $font-normal;
        }
      }
    }
  }

  &.image-large {
    .c-gallery__gallery-item {
      @include grid-column(12, $no-gutter);

      margin-bottom: 60px;

      @include grid-media($lg) {
        margin-bottom: 100px;
      }


      .item__image {
        width: 500px;

        // height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        float: left;
        border-bottom-right-radius: 150px;

        @include grid-media($sm) {
          width: 350px;
        }


        @include grid-media($lg) {
          width: 500px;
        }
      }

      img {
        float: left;
      }

      .item__heading,
      .item__sub-heading,
      .item__description {
        @include grid-column(12, $no-gutter);

        @include grid-media($md) {
          margin-left: 80px;
          width: 35%;
        }


        @include grid-media($lg) {
          width: 40%;
        }
      }

      .item__heading {
        margin-top: 20px;

        @include grid-media($md) {
          margin-top: 0;
        }


        h3 {
          margin: 0;
          line-height: 0.8;
          font-size: 26px;
          font-weight: $font-bold;

          @include grid-media($md) {
            font-size: 24px;
          }
        }
      }

      .item__sub-heading {
        p {
          font-size: 20px;
          line-height: 0.8;
        }

        &:after {
          content: " ";
          display: block;
          border-bottom: 2px solid $light-gray;
          width: 75px;
          margin-top: 30px;
          margin-bottom: 15px;

          @include grid-media($lg) {
            width: 110px;
          }
        }
      }

      .item__description {
        p {
          font-size: 18px;
        }
      }
    }
  }
}