/* Header */

header {
  .container {
    // padding-bottom: 20px !important;
    border-bottom: 2px solid $white !important;
    padding: 0 !important;
  }

  a {
    color: $black;
    font-size: 12px;

    @include grid-media($lg) {
      font-size: 15px;
    }
  }
}

.c-nav {
  @include grid-column(12, $no-gutter);

  position: relative;
  z-index: 2;
  background: $red;

  .c-menu__container {
    @include grid-column(12, $no-gutter);

    float: right;

    // position: absolute;
    left: 0;
    top: calc(100% + 20px);
    background: $red;
    display: none;
    position: relative;
    position: 1;

    @include grid-media($lg) {
      @include grid-column(9, $no-gutter);

      display: block !important;
      right: 0;
      bottom: 0;
      left: unset;
      top: unset;
      background: none;
    }


    .c-menu__list {
      @include grid-media($lg) {
        float: left;
      }


      .c-menu__list-item {
        @include grid-column(12, $no-gutter);

        display: inline-block;
        padding: 0 10px;
        text-align: center;

        a {
          color: $white;
        }

        @include grid-media($lg) {
          width: auto;

          // a {
          //   color: $light-blue;
          // }
        }
      }

      .c-menu__list-item.has-child {
        position: relative;
        display: inline-block;

        &:hover {
          background: $black;

          .c-menu__sublist {
            display: block;
          }
        }
      }

      .c-menu__sublist {
        display: none;
        min-width: 160px;

        // padding: 12px 16px;
        z-index: 1;

        a {
          color: $white;
        }

        @include grid-media($lg) {
          position: absolute;
          width: auto;
          background-color: $black;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          left: 0;

          a {
            color: $red;
          }
        }


        li {
          border-bottom: 2px solid $white;
          padding: 5px 16px;

          &:hover {
            // border-bottom-color: $light-blue;
            a {
              color: $white;
            }
          }
        }
      }
    }
  }

  .c-menu__hamburger {
    display: block;

    text-align: right;


    @include grid-media($lg) {
      display: none;
    }
  }
}

.c-mainnav {
  @include grid-column(12, $no-gutter);

  position: relative;
  padding: 10px 0;

  .c-logo__container {
    @include grid-column(4, $no-gutter);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include grid-media($md) {
      position: relative;
      transform: none;
    }


    @include grid-media($lg) {
      @include grid-column(4, $no-gutter);
    }


    .c-logo__image {
      @include grid-column(9, $no-gutter);

      @include grid-media($sm) {
        @include grid-column(4, $no-gutter);
      }


      // @include grid-media($md) {
      //   @include grid-column(12, $no-gutter);
      // }

      @include grid-media($lg) {
        @include grid-column(5, $no-gutter);
      }
    }
  }

  .c-mainnav__content {
    @include grid-column(8, $no-gutter);

    float: right;

    @include grid-media($sm) {
      @include grid-column(5, $no-gutter);

      float: right;
    }


    @include grid-media($md) {
      @include grid-column(3, $no-gutter);

      float: right;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 10;
    }
  }

  .menu-site-menu-container, .textwidget.custom-html-widget {
    @include grid-column(6, $no-gutter);
  }

  .c-mainnav__donate {
    background: $red;
    text-align: center;
    padding: 27px 15px;
    color: $white;
  }
}

// ----------------
.hamburger {
  background: none;

  // position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: $white;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.cross {
  background: none;

  // position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: $white;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

// ----------------
.menu {
  .menu-item.menu-item-has-children {
    position: relative;
    display: inline-block;
  }

  &:hover {
    .sub-menu {
      display: block;
    }
  }

  .sub-menu {
    display: none;
    position: absolute;
    background-color: $black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    // padding: 12px 16px;
    z-index: 10;

    a {
      color: $red;
    }

    li {
      border-bottom: 2px solid $white;
      padding: 5px 16px;

      &:hover {
        // border-bottom-color: $light-blue;
        a {
          color: $white;
        }
      }
    }
  }
}