/* Header */

header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  background: $white;

  @include grid-media($lg) {
    height: auto;
  }


  .container {
    border-bottom: 2px solid $white !important;
    padding: 0 !important;
  }

  a {
    color: $black;
    font-size: 12px;

    @include grid-media($lg) {
      font-size: 15px;
    }
  }
}

.c-nav {
  @include grid-column(12, $no-gutter);

  position: relative;
  z-index: 2;

  &--top,
  &--bottom {
    @include grid-column(12, $no-gutter);
  }

  &--top {
    border-bottom: 2px solid $white;
    max-width: 1440px;
    margin: 0 auto;
    float: none;
  }
}

.c-nav__logo {
  float: left;
  padding: 15px 0 0 15px;
  width: 60%;

  @include grid-media($lg) {
    width: auto;
  }
}

.c-nav__elements {
  float: right;
  position: relative;
  display: none;

  @include grid-media($lg) {
    display: block;
  }
}

.c-nav__multisite-nav,
.c-nav__donate-link,
.c-nav__search-btn,
.c-nav__elements-widget {
  float: left;
}

.c-nav__multisite-nav {
  border-right: 2px solid $white;

  ul {
    > li {
      &:hover,
      &:focus {
        a {
          background: $black;
          color: $white;
        }
      }

      > a {
        position: relative;
        z-index: 1;
        display: inline-block;
        padding: 19px 50px 19px 25px;
        max-height: 60px;

        @include type-5-bold($color: $black);

        &.nav-title {
          &:after {
            content: "";
            position: absolute;
            top: 46%;
            right: 16%;
            transition: all .4s ease-in-out;

            // transform: translateY(-50%);
            background-image: url("./assets/img/icons/carat-closed-universal-nav.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 13px;
            height: 13px;
          }

          &:hover {
            &:after {
              top: 40%;
              transform: rotate(180deg);
            }
          }
        }
      }

      > ul {
        display: none;
        position: absolute;
        width: 100%;
        background: $black;
        padding-bottom: 15px;
        border-top: 2px solid $white;
        margin-top: -2px;

        > li {
          > a {
            padding: 5px 25px;

            @include type-5($color: $white);
          }
        }
      }
    }
  }

  ul > li > a:hover + .nav-dropdown,
  .nav-dropdown:hover {
    display: block;
  }
}

.c-nav__donate-link {
  height: 60px;
  background: $red;
  color: $white;
  padding: 0 25px;

  @include type-custom($color: $white, $font-weight: $font-bold, $font-size: 17px, $line-height: 3.5);

  &:hover,
  &:focus {
    background: $black;
  }
}

.c-nav__search-btn {
  &,
  span {
    display: inline-block;
  }

  padding: 0 26px;
  line-height: 3.75;

  span {
    margin-top: 15px;
    margin-right: 0;

    @include grid-media($lg) {
      margin-top: 7px;
    }
  }
}

.c-nav--bottom {
  display: none;
  overflow-y: auto;
  max-height: 85vh;
  background: $red;

  @include grid-media($lg) {
    display: block !important;
  }


  .c-nav--bottom__container {
    max-width: 1440px;
    margin: 0 auto;
    float: none;
  }
}

.c-nav__nav--left {
  position: relative;
  float: left;
  width: 100%;

  @include grid-media($lg) {
    width: auto;
  }


  ul {
    > li {
      float: left;
      width: 100%;

      @include grid-media($lg) {
        width: auto;
      }


      &.has-submenu {
        > a {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: 16px;
            right: 0;
            width: 14px;
            height: 14px;
            background: url("/wp-content/themes/seo-main/assets/img/icons/carat-nav-arrow-right--white.svg") center center no-repeat;
            background-size: contain;
            transform: rotate(0);
            transition: all 0.5s $cubic-transition-2;

            @include grid-media($lg) {
              display: none;
            }
          }
        }

        &.active {
          > a {
            &:before {
              transform: rotate(90deg);
            }
          }
        }

        @include grid-media($lg) {
          > a {
            background: none;
          }

          .main-nav-dropdown {
            display: none !important;
          }
        }
      }

      > a {
        position: relative;
        float: left;
        padding: 8px 18px 8px 15.5px;

        @include type-custom($color: $white, $font-weight: $font-medium, $font-size: 22px, $line-height: 1.2);

        border-left: 2px solid $red;
        border-right: 2px solid $red;

        @include grid-media($lg) {
          padding: 4px 15.5px;

          @include type-5-bold($color: $white);

          &:hover,
          &:focus {
            background: $black;
            color: $white;
            border-left: 2px solid $white;
            border-right: 2px solid $white;
          }
        }
      }

      > ul {
        > li {
          > a {
            padding: 5px 15px;

            @include type-5($color: $white);
          }
        }

        @include grid-media($lg) {
          display: none;
          position: absolute;
          top: 30px;
          background: $black;
          padding-bottom: 15px;

          > li {
            > a {
              padding: 5px 25px;

              @include type-5($color: $white);

              &,
              &:hover,
              &:focus {
                border: none;
              }
            }
          }
        }
      }
    }
  }

  // ul > li > a:hover + .main-nav-dropdown,
  // .main-nav-dropdown:hover {
  //   display: block;
  // }
}

.main-nav-dropdown {
  display: none;
  width: 100%;
}

.c-nav__nav--right {
  float: left;
  width: 100%;
  padding: 10px 15px 20px;

  @include grid-media($lg) {
    float: right;
    max-width: 330px;
    padding: 0;
  }


  ul {
    width: 100%;
    display: flex;

    > li {
      float: left;
      width: 50%;
      flex-grow: 1;

      &:first-child {
        margin-right: 3px;

        @include grid-media($lg) {
          margin-right: 0;
        }
      }

      > a {
        float: left;
        text-align: center;
        width: 100%;
        padding: 8px 15.5px;

        @include type-5-bold($color: $white);

        background: $black;

        @include grid-media($lg) {
          border-left: 2px solid $white;
          padding: 4px 15.5px;
        }
      }
    }
  }
}

.c-nav__mobile {
  float: right;
  padding-right: 15px;

  @include grid-media($lg) {
    display: none;
  }
}

.c-nav__mobile-hamburger-btn {
  border: none;
  background: none;
  padding: 0;
  padding: 20px 0;
  outline: none;
  cursor: pointer;
  transform: rotate(0);
  transition: all 0.5s $cubic-transition-2;

  &.active {
    transform: rotate(90deg);
  }
}

.icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  background: $black;

  + .icon-bar {
    margin-top: 4px;
  }
}

.c-nav__elements--mobile {
  display: block;
  width: 100%;

  @include grid-media($lg) {
    display: none !important;
  }


  .c-nav__multisite-nav {
    width: 100%;
    border-right: none;

    ul {
      > li {
        padding-top: 7px 0 15px;
        background: $black;

        > a {
          padding: 8px 0 0 15px;

          &:after {
            background: none;
          }

          &,
          &:hover,
          &:focus {
            color: $white;
            background: none;
          }
        }

        > ul {
          border-top: none;
          border-bottom: 2px solid $white;
          background: none;

          > li {
            padding-top: 0;
          }
        }
      }
    }

    .nav-dropdown {
      display: block;
      position: static;
    }
  }

  .c-nav__elements-widget {
    @include grid-column(12, $no-gutter);

    .c-nav__search-btn {
      display: none !important;
    }

    .c-nav__donate-link {
      width: 100%;
      text-align: center;
    }
  }
}

// .c-nav {
//   @include grid-column(12, $no-gutter);

//   position: relative;
//   z-index: 2;
//   // background: $red;

//   .c-menu__container {
//     @include grid-column(12, $no-gutter);

//     float: right;

//     // position: absolute;
//     left: 0;
//     top: calc(100% + 20px);
//     background: $red;
//     display: none;
//     position: relative;
//     position: 1;

//     @include grid-media($lg) {
//       @include grid-column(12, $no-gutter);

//       display: block !important;
//       right: 0;
//       bottom: 0;
//       left: unset;
//       top: unset;
//       background: none;
//       border-top: 2px solid $white;
//     }

//     .c-menu__list {
//       @include grid-media($lg) {
//         @include grid-column(8, $no-gutter);

//         float: left;
//       }

//       .c-menu__list-item {
//         @include grid-column(12, $no-gutter);        
//         text-align: center;

//         &:first-child {

//           a {
//             padding-left: 25px;
//           }
//         }

//         a {
//           color: $white;
//           float: left;
//           padding: 4px 17px;

//           &:hover,
//           &:focus {
//             background: $black;
//           }
//         }

//         @include grid-media($lg) {
//           width: auto;
//           height: 30px;
//         }
//       }

//       .c-menu__list-item.has-child {
//         position: relative;
//         display: inline-block;

//         &:hover {
//           background: $black;

//           .c-menu__sublist {
//             display: block;
//           }
//         }
//       }

//       .c-menu__sublist {
//         display: none;
//         min-width: 180px;

//         // padding: 12px 16px;
//         z-index: 1;

//         a {
//           color: $white;
//         }

//         @include grid-media($lg) {
//           position: absolute;
//           top: 30px;
//           width: auto;
//           background-color: $black;
//           box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//           left: 0;

//           a {
//             color: $white;
//           }
//         }

//         li {
//           text-align: left;

//           &:hover {
//             a {
//               color: $white;
//             }
//           }
//         }
//       }
//     }
//   }

//   .c-menu__hamburger {
//     display: block;
//     text-align: right;

//     @include grid-media($lg) {
//       display: none;
//     }
//   }
// }

// .c-mainnav {
//   @include grid-column(12, $no-gutter);

//   position: relative;
//   background: $white;

//   .c-logo__link {
//     padding: 15px 0 0 25px;
//     display: inline-block;
//   }

//   .c-logo__container {
//     @include grid-column(4, $no-gutter);

//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);

//     @include grid-media($md) {
//       position: relative;
//       transform: none;
//     }

//     @include grid-media($lg) {
//       @include grid-column(4, $no-gutter);
//     }

//     .c-logo__image {
//       @include grid-column(9, $no-gutter);

//       @include grid-media($sm) {
//         @include grid-column(4, $no-gutter);
//       }

//       // @include grid-media($md) {
//       //   @include grid-column(12, $no-gutter);
//       // }

//       @include grid-media($lg) {
//         @include grid-column(12, $no-gutter);
//       }
//     }
//   }

//   .c-mainnav__content {
//     @include grid-column(8, $no-gutter);
//     float: right;

//     @include grid-media($sm) {
//       @include grid-column(3.5, $no-gutter);
//       float: right;
//     }

//     .custom-html-widget {
//       float: left;
//     }
//   }

//   .menu-site-menu-container {
//     float: left;
//   }

//   .textwidget.custom-html-widget {
//     float: left;
//   }

//   .c-mainnav__donate {
//     float: left;
//     background: $red;
//     color: $white;
//     text-align: center;
//     height: 65px;
//     line-height: 4;
//     padding-left: 25px;
//     padding-right: 25px;    
//     border-left: 2px solid $white;

//     &:hover,
//     &:focus {
//       background: $black;
//     }
//   }
// }

// .c-search-btn {
//   float: left;
//   height: 65px;
//   line-height: 4.75;
//   padding-left: 23px;
//   padding-right: 23px;

//   span {
//     margin-right: 0;
//   }
// }

// // ----------------
// .hamburger {
//   background: none;

//   // position: absolute;
//   top: 0;
//   right: 0;
//   line-height: 45px;
//   padding: 5px 15px 0px 15px;
//   color: $white;
//   border: 0;
//   font-size: 1.4em;
//   font-weight: bold;
//   cursor: pointer;
//   outline: none;
//   z-index: 10000000000000;
// }

// .cross {
//   background: none;

//   // position: absolute;
//   top: 0px;
//   right: 0;
//   padding: 7px 15px 0px 15px;
//   color: $white;
//   border: 0;
//   font-size: 3em;
//   line-height: 65px;
//   font-weight: bold;
//   cursor: pointer;
//   outline: none;
//   z-index: 10000000000000;
// }

// // ----------------
// // Following classes need to be merged with codes from line 52
// .menu {
//   li {
//     @include grid-column(12, $no-gutter);

//     cursor: pointer;
//     padding: 18px 50px 18px 25px;

//     &.menu-item.menu-item-has-children {
//       position: relative;
//       display: inline-block;

//       &:after {
//         content: "";
//         position: absolute;
//         top: 46%;
//         right: 16%;
//         transition: all .4s ease-in-out;

//         // transform: translateY(-50%);
//         background-image: url("./assets/img/icons/carat-closed-universal-nav.svg");
//         background-repeat: no-repeat;
//         background-size: contain;
//         width: 13px;
//         height: 13px;
//       }

//       &:hover {
//         &:after {
//           top: 40%;
//           transform: rotate(180deg);
//         }
//       }
//     }

//     &:hover {
//       background: $black;

//       a {
//         color: $white;
//       }
//     }
//   }

//   &:hover {
//     .sub-menu {
//       display: block;
//     }
//   }

//   .sub-menu {
//     display: none;
//     position: absolute;
//     top: 65px;
//     left: 0;
//     background-color: $black;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     width: 200%;
//     z-index: 10;
//     padding-bottom: 15px;

//     a {
//       color: $white;
//     }

//     li {
//       padding: 5px 25px;
//       font-size: 16px;

//       &:hover {
//         a {
//           color: $red;
//         }
//       }
//     }
//   }
// }

// // Registration Menu
// .side-menu-widget-area {
//   @include grid-media($lg) {
//     @include grid-column(4, $no-gutter);

//     float: right;
//   }

//   .menu {
//     li {
//       @include grid-column(12, $no-gutter);

//       text-align: center;
//       display: inline-block;
//       background: $black;
//       cursor: pointer;
//       border-bottom: 2px solid $white;
//       padding: 0 16px;

//       @include grid-media($lg) {
//         @include grid-column(6, $no-gutter);

//         border-left: 2px solid $white;
//         border-bottom: 0;
//       }

//       a {
//         color: $white;
//       }
//     }
//   }
// }