// News and Events Landing Page

.c-news-events {
  .region_body {
    margin-top: 100px;
  }

  .page-title {
    margin-top: 65px;
    margin-bottom: 45px;

    @include grid-media($md) {
      max-width: 780px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 65px;
    }


    h1 {
      @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 42px, $line-height: 1);

      @include grid-media($md) {
        @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 61px, $line-height: 1);
      }
    }
  }

  .c-news-events__content {
    @include grid-column(12, $no-gutter);

    .c-news-events__image {
      @include grid-column(12, $no-gutter);

      @include grid-media($md) {
        @include grid-column(8, $no-gutter);
      }

      img {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
      }
    }

    .c-news-events__details {
      @include grid-column(12, $no-gutter);

      margin-top: 15px;

      @include grid-media($md) {
        @include grid-column(4, $no-gutter);

        margin-top: 0;
        padding-left: 25px;
      }


      &.no-image {
        @include grid-media($md) {
          @include grid-column(12, $no-gutter);

          max-width: 1265px;
          padding-left: 0;
          margin: 0 auto;
          float: none;
        }
      }

      .c-news-events__breadcrumb {
        p {
          text-transform: uppercase;
          margin-bottom: 10px;

          @include type-custom($color: $black, $font-weight: $font-normal, $font-size: 12px, $line-height: 1);

          @include grid-media($md) {
            margin: 0;
          }


          span {
            font-size: 12px;
            font-weight: $font-normal;

            &.parent {
              cursor: pointer;
              margin-right: 10px;
            }

            &.current {
              margin-left: 10px;
            }
          }
        }
      }

      h1 {
        @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 30px, $line-height: 1);

        margin-top: 10px;
        margin-bottom: 10px;
        display: inline;

        @include grid-media($md) {
          @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 42px, $line-height: 1);
        }


        &:hover {
          border-bottom: 3px solid $light-blue;
        }
      }

      p {
        @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 14px, $line-height: 1);

        margin: 0;
        margin-top: 15px;

        @include grid-media($md) {
          margin-bottom: 65px;
        }
      }

      .c-news-events__medium {
        font-style: italic;
        font-weight: $font-thinnest;
      }
    }

    &.featured {}

    &.list {
      border-left: 10px solid $black;
      padding-left: 25px;
      display: inline-block;
      margin-bottom: 65px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .c-news-events__details {
        @include grid-column(12, $no-gutter);

        margin-top: 0;
        padding-left: 0;

        .c-news-events__title-medium, .c-news-events__breadcrumb {
          float: left;
        }

        @include grid-media($md) {
          .c-news-events__image, .c-news-events__title-medium, .c-news-events__breadcrumb {
            @include grid-column(6, $no-gutter);
          }

          .c-news-events__title-medium, .c-news-events__breadcrumb {
            float: right;
            padding-left: 25px;
          }

          .c-news-events__image {
            min-height: 200px;
          }
        }
      }

      .c-news-events__details {
        &.no-image {
          @include grid-column(12, $no-gutter);

          margin-top: 0;
          padding-left: 0;

          .c-news-events__title-medium, .c-news-events__breadcrumb {
            @include grid-column(12, $no-gutter);

            padding-left: 0;
          }
        }
      }
    }
  }

  .c-news-events__promotion {
    @include grid-column(12, $no-gutter);

    // @include grid-media($md) {
    //   @include grid-column(12, $no-gutter);
    // }

    border: 2px solid $light-gray;
    padding: 15px 20px;

    @include grid-media($sm) {
      padding: 15px 10px;
    }


    @include grid-media($md) {
      padding: 15px 25px;
    }


    h2 {
      @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 34px, $line-height: 1);

      margin: 0;
      margin-bottom: 35px;
      line-height: 1;

      @include grid-media($sm) {
        @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 30px, $line-height: 1);
      }


      @include grid-media($lg) {
        @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 43px, $line-height: 1);
      }


      strong {
        font-weight: inherit;
        color: $red;
      }
    }
  }

  .posts-selector {
    .c-news-events__details {
      h1 {
        @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 24px, $line-height: 1);

        margin-top: 10px;
        margin-bottom: 10px;

        @include grid-media($md) {
          @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 32px, $line-height: 1);
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    .malinky-load-more {
      text-align: left;
      margin-left: 19px;
    }
  }
}

.c-news-filter {
  @include grid-column(12, $no-gutter);

  padding: 10px 0px;

  // max-width: 240px;
  position: relative;
  display: inline-block;
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
  margin-right: 50px;

  &:nth-child(2) {
    border-top: 0;
    margin-bottom: 40px;
    margin-right: 0;
  }

  &.active {
    h3,
    #selected {
      background: $black;
      color: $white;
    }
  }

  @include grid-media($md) {
    width: auto;
    border: 0;

    &:hover {
      h3,
      #selected {
        background: $black;
        color: $white;
      }
    }
  }


  h3 {
    display: inline-block;
    margin: 0;
    padding: 10px;
    padding-left: 25px;
    padding-right: 10px;
    text-transform: capitalize;

    @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 19px, $line-height: 1);
  }

  #selected {
    @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 19px, $line-height: 1);

    // text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 8px 0;
    padding-right: 35px;
    padding-bottom: 9px;

    &:after {
      content: "";
      position: absolute;
      top: 40%;
      right: 15px;
      transition: all .4s ease-in-out;

      // transform: translateY(-50%);
      background-image: url("./assets/img/icons/carat-closed-universal-nav.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 13px;
      height: 13px;
    }

    &.show {
      &:after {
        top: 25%;
        transform: rotate(180deg);
      }

      + #selection-options {
        display: block;
      }
    }

    @include grid-media($md) {
      &:hover,
      &:focus {
        &:after {
          top: 25%;
          transform: rotate(180deg);
        }

        + #selection-options {
          display: block;

          li {}
        }
      }
    }
  }

  #selection-options {
    // margin-left: 62px;

    display: none;
    background: $black;
    padding-left: 27px;
    margin-top: -4px;
    position: absolute;
    left: 0;
    z-index: 10;

    &:hover {
      display: block;
    }

    li {
      display: inline-block;
      width: 100%;
      margin-bottom: 5px;
      transition: all .4s ease-in-out;

      a {
        @include type-custom($color: $white, $font-weight: $font-thinnest, $font-size: 19px, $line-height: 1);

        width: 100%;
        padding: 5px 35px;
        padding-left: 0;
        display: inline-block;
      }
    }
  }
}

#block-wrapper {
  @include grid-column(12, $no-gutter);
}