/* Program Landing */

.program-landing-page {
  .page-title {
    text-align: center;
    width: 80%;
    margin: auto;

    h1 {
      font-weight: $font-thinnest;
      font-size: 40px;
      max-width: 800px;
      margin-top: 55px;
      margin-bottom: 15px;

      &:before {
        content: none;
      }

      @include grid-media($lg) {
        font-size: 75px;
        max-width: 800px;
        margin-top: 100px;
        margin-bottom: 30px;
      }
    }
  }

  section.wysiwyg {
    margin-bottom: 75px;

    .c-rte {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.hero-section {
  padding: 0;
  .c-hero_image,
  .c-hero_video {
    @include grid-column(12, $no-gutter);

    height: 212px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include grid-media($md) {
      height: 411px;
    }

    @include grid-media($lg) {
      height: 811px;
    }


    p {
      margin: 0;
      position: absolute;
      bottom: 5%;
      left: 5%;
      color: white;
      font-size: 24px;
      width: 80%;
      line-height: 1;
      font-weight: $font-thinnest;

      @include grid-media($lg) {
        font-size: 43px;
        width: 60%;
      }
    }
  }

  .c-hero_video {
    background: $black;

    iframe {
      @include grid-column(12, $no-gutter);

      height: 100%;
    }

    .video {
      height: 212px;

      @include grid-media($md) {
        height: 411px;
      }

      @include grid-media($lg) {
        height: 811px;
      }
      .plyr.plyr--youtube.plyr--video {
        height: 212px;
      
        @include grid-media($md) {
          height: 411px;
        }

        @include grid-media($lg) {
          height: 811px;
        }

        .plyr__video-wrapper.plyr__video-embed {
          padding: 0;
          position: static;
          height: 212px;
      
          @include grid-media($md) {
            height: 411px;
          }

          @include grid-media($lg) {
            height: 811px;
          }
        }
      }
    }
  }
}


.tout-section {

  @include grid-media($max-md) {
    padding: 0;
  }

  .c-tout_container {
    margin: auto;
    position: relative;
    height: auto;
    max-width: 350px;

    @include grid-media($md) {
      height: 560px;
      max-width: 750px;
    }

    @include grid-media($lg) {
      height: 630px;
      max-width: 1027px;
    }

    .c-tout_item {
      @include grid-column(12, $no-gutter);

      margin-bottom: 40px;

      .c-tout_text {
        @include grid-column(5, $no-gutter);
        // margin-left: 20px;
        // margin-top: 20px;
        padding: 20px;
        padding-top: 0;

        @include grid-media($md) {
          padding: 0;
        }

        p {
          margin: 0;
          margin-bottom: 10px;
          font-size: 20px;
          line-height: 1;

          @include grid-media($lg) {
            font-size: 30px;
            margin-bottom: 20px;
          }
        }

        a {
          font-size: 14px;

          @include grid-media($lg) {
            font-size: 18px;
          }
        }
      }

      @include grid-media($md) {
        @include grid-column(6.5, $no-gutter);

        position: absolute;
        margin-bottom: 0;

        .c-tout_text {
          @include grid-column(7, $no-gutter);
          margin: 0;
          margin-top: 20px;
        }
      }


      .c-tout_image {

        @include grid-column(7, $no-gutter);
        
        height: 129px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        @include grid-media($md) {
          @include grid-column(12, $no-gutter);

          width: 390px;
          height: 349px;
        } 

        @include grid-media($lg) {
          width: 541px;
          height: 349px;
        }
      }

      &.item-left {
        top: 0;
        left: 0;
        height: auto;
      }

      &.item-right {
        bottom: 0;
        right: 0;
        height: auto;

        @include grid-media($lg) {
          padding-left:15px;
        }

        .c-tout_text {
          margin-right: 20px;
        }

        .c-tout_text {
          margin: 0;

          @include grid-media($md) {
            margin-top: 20px;
          }
        }
      
        .c-tout_image {
          float: right;

          @include grid-media($md) {
            float: left;
          }
        }
      }
    }
  }
}

.program-landing-page {
  // Old design
  // .old {
  //   background: $light-gray;

  //   @include grid-column(12, $no-gutter);

  //   // @include grid-media($lg) {
  //   //   @include grid-column(6, $no-gutter);
  //   // }


  //   .c-ratiometer_container {
  //     padding: 5%; 

  //     @include grid-media($lg) {}
  //   }

  //   .c-ratiometer {
  //     width: calc(100%);
  //     float: left;
  //     position: relative;
  //     margin: 0 auto;
  //     float: none;

  //     @include grid-media($sm) {
  //       width: calc(80%);
  //       float: left;
  //       margin: 0 auto;
  //       float: none;
  //     }


  //     @include grid-media($md) {
  //       width: calc(75%);
  //       float: left;
  //       margin: 0 auto;
  //       float: none;
  //     }


  //     @include grid-media($xl) {
  //       width: calc(50%);
  //       float: left;
  //       margin: 0 auto;
  //       float: none;
  //     }


  //     .c-rationmeter-positioner {
  //       width: 250px;
  //       display: flex;
  //       margin: 0 auto;

  //       @include grid-media($sm) {
  //         width: 330px;
  //       }


  //       @include grid-media($md) {
  //         width: 580px;
  //       }


  //       @include grid-media($lg) {
  //         width: 730px;
  //       }

  //       @include grid-media($xl) {
  //         width: 880px;
  //       }
  //     }
  //   }

  //   .c-ratiometer-meter_out {
  //     width: 150px;
  //     height: 150px;
  //     border-radius: 100%;
  //     padding: 10px;

  //     @include grid-media($sm) {
  //       width: 190px;
  //       height: 190px;
  //     }


  //     @include grid-media($md) {
  //       width: 240px;
  //       height: 240px;
  //     }


  //     @include grid-media($xl) {
  //       width: 340px;
  //       height: 340px;
  //     }
  //   }

  //   .c-rationmeter-meter {
  //     width: 130px;
  //     height: 130px;
  //     background: red;
  //     border-radius: 100%;
  //     background-position: center;
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     border: 8px solid #e5e7e7;

  //     @include grid-media($sm) {
  //       width: 170px;
  //       height: 170px;
  //     }


  //     @include grid-media($md) {
  //       width: 220px;
  //       height: 220px;
  //     }


  //     @include grid-media($xl) {
  //       width: 320px;
  //       height: 320px;
  //     }
  //   }

  //   .c-rationmeter-text {
  //     // width: calc(50%);
  //     float: left;
  //     margin-left: -30px;
  //     margin-top: 30px;

  //     @include grid-media($sm) {}


  //     @include grid-media($md) {
  //       // width: calc(35%);
  //       float: left;
  //     }


  //     @include grid-media($xl) {
  //       // width: calc(25%);
  //       float: left;
  //     }


  //     h1 {
  //       font-size: 25px;

  //       @include grid-media($md) {
  //         font-size: 38px;
  //       }

  //       @include grid-media($lg) {
  //         font-size: 48px;
  //       }
  //     }
  //     // h1 {
  //     //   @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 45px, $line-height: 1);

  //     //   margin: 0;
  //     //   text-align: center;

  //     //   @include grid-media($sm) {
  //     //     @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 70px, $line-height: 1);
  //     //   }


  //     //   @include grid-media($md) {
  //     //     @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 110px, $line-height: 1);
  //     //   }
  //     // }
  //   }
  // }

  //New design
  .old {
    background: $light-gray;

    @include grid-column(12, $no-gutter);

    .c-ratiometer_container {
      padding: 45px 0;

      @include grid-media($lg) {
        padding: 65px 0;
      }
    }

    .c-ratiometer {
      width: calc(100%);
      float: left;
      position: relative;
      margin: 0 auto;
      float: none;

      @include grid-media($sm) {
        float: left;
        margin: 0 auto;
        float: none;
      }


      @include grid-media($md) {
        float: left;
        margin: 0 auto;
        float: none;
      }


      @include grid-media($xl) {
        float: left;
        margin: 0 auto;
        float: none;
      }


      .c-rationmeter-positioner {
        width: 250px;
        display: flex;
        margin: 0 auto;

        @include grid-media($sm) {
          width: 360px;
        }

        @include grid-media($md) {
          width: 500px;
        }

        @include grid-media($xl) {
          width: 730px;
        }
      }
    }

    .c-ratiometer-meter_out {
      width: 155px;
      height: 155px;
      border-radius: 100%;
      padding: 13px;
      position: relative;

      canvas {
        position: absolute;
        width: 100%;
        top: 6px;
        left: 6px;

        @include grid-media($sm) {
          top: 5px;
          left: 5px;
        }

        @include grid-media($md) {
          top: 3px;
          left: 3px;
        }
      }

      @include grid-media($sm) {
        width: 202px;
        height: 201px;
      }

      @include grid-media($md) {
        width: 258px;
        height: 258px;
      }
    }

    .c-rationmeter-meter {
      width: 142px;
      height: 142px;
      background: $white;
      border-radius: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 8px solid $light-gray;
      position: relative;

      @include grid-media($sm) {
        width: 186px;
        height: 186px;
      }

      @include grid-media($md) {
        width: 238px;
        height: 238px;
        border: 13px solid $light-gray;
      }
    }

    .circle-back {
      position: absolute;
      z-index: 0;
      top: 7px;
      left: 7px;

      @include grid-media($sm) {
        top: 6px;
        left: 6px;        
      }

      @include grid-media($md) {
        left: 3px;
        top: 3px;
      }
    }

    .progress-percentage {
      margin: 0;
      text-align: center;
      position: absolute;
      top: 30px;
      right: -80px;
      z-index: 1;      
      @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 70px, $line-height: 1);

      @include grid-media($sm) {
        top: 40px;
        right: -70px;
      }

      @include grid-media($md) {
        top: 50px;
        right: -120px;
        @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 110px, $line-height: 1);
      }
    }

    .c-rationmeter-text {
      width: calc(50%);
      float: left;
      margin-left: -30px;      
      margin-top: 60px;
      position: relative;

      @include grid-media($sm) {
        left: -15px;
      }

      @include grid-media($md) {
        width: calc(35%);
        float: left;
        margin-left: -20px;
      }

      @include grid-media($xl) {
        width: calc(25%);
        float: left;
      }

      h1 {
        margin: 0;
        text-align: center;

        @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 45px, $line-height: 1);

        @include grid-media($sm) {
          @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 70px, $line-height: 1);
        }


        @include grid-media($md) {
          @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 110px, $line-height: 1);
        }
      }

      p {
        margin: 0;
        text-align: center;
        
        @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 20px, $line-height: 1);

        @include grid-media($md) {
          @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 30px, $line-height: 1);
        }
      }
    }
  }
}

body {
  counter-reset: section;
}

.c-sequence__sequeutal-container {
    max-width: 1200px;
    margin: 0 auto;
  .c-sequence__title-description-container {
    @include grid-column(12, $no-gutter);

    .c-sequence__title-description {
      @include grid-column(12, $no-gutter);
      margin-bottom: 50px;

      @include grid-media($md) {
        width: 600px;
        margin-bottom: 100px;
      }

      h1, p {
        margin: 0;

        padding-left: 20px;
      }

      h1 {
        margin-bottom: 30px;
        font-size: 32px;

        @include grid-media($lg) {
          font-size: 42px;
        }
      }

      p {
        font-size: 23px;

        @include grid-media($lg) {
          font-size: 24px;
        }
      }
    }
  }

  .c-sequence__sequeutal-items {
    @include grid-column(12, $no-gutter)
    .c-sequence_item {
      position: relative;
      padding-left: 20px;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      @include grid-media($md) {
        margin-bottom: 0;
      }

      &.items-1 {
        @include grid-column(12, $no-gutter);

        margin: auto;

        @include grid-media($md) {
          @include grid-column(8, $no-gutter);
        }
      }

      &.items-2 {
        @include grid-column(12, $no-gutter);

        @include grid-media($md) {
          @include grid-column(6, $no-gutter);

          margin: auto;
          float: left;
        }
      }

      &.items-3 {
        @include grid-column(12, $no-gutter);

        @include grid-media($md) {
          @include grid-column(4, $no-gutter);

          margin: auto;
          float: left;
        }
      }

      &.items-4 {
        @include grid-column(12, $no-gutter);

        @include grid-media($md) {
          @include grid-column(3, $no-gutter);

          margin: auto;
          float: left;
        }
      }
      
      .c-sequence_item-content {
        width: 70%;
      }

      &:before {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        top: 0;
        left: 0;
        color: $maroon;
        font-weight: $font-bold;
        font-size: 28px;
        line-height: 1;
      }

      h2 {
        font-weight: $font-normal;
        margin: 0;
        line-height: 1;
        font-size: 28px;

        @include grid-media($lg) {
          font-size: 30px;
        }
      }

      p {
        font-size: 18px;
      }

      a {
        font-size: 14px;

        @include grid-media($lg) {
          font-size: 18px;
        }
      }
    }
  }

  .c-sequence__cta_button {
    @include grid-column(12, $no-gutter);
    margin: 0 auto;
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;

    @include grid-media($md) {
      text-align: center;
      margin-top: 120px;
      margin-bottom: 50px;
      margin-left: 0;
    }

    a {
      padding: 20px;
      font-size: 22px;

      @include grid-media($lg) {
        font-size: 26px;
      }
    }
  }
}

.c-program_cta__container {
  
  @include grid-media($md) {
    max-width: 1080px;
    margin: 0 auto;
  }

  .c-program-title,
  .c-program-description {
    @include grid-column(12, $no-gutter);

    @include grid-media($md) {
      @include grid-column(5, $no-gutter);

      float: right;
      // margin-left: 2%;
    }
  }

  .c-program-title {
    h1 {
      margin: 0;
      margin-bottom: 30px; 
      font-size: 32px;

      @include grid-media($md) {
        font-size: 42px;
        margin: 0;
      }
    }
  }

  .c-program-description {
    p {
      font-size: 23px;

      @include grid-media($md) {
        font-size: 24px;
      }
    }
  }

  .c-program-links {
    a {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 14px;

      @include grid-media($md) {
        font-size: 18px;
      }
    }
  }

  .c-program-video {
    background: none;

    iframe {
      @include grid-column(12, $no-gutter);

      height: 100%;
    }
  }

  .c-program-image, .c-program-video {
    @include grid-column(12, $no-gutter);
    
    max-width: 279px;
    height: 157px;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include grid-media($md) {
      @include grid-column(6, $no-gutter);

      max-width: 541px;
      height: 323px;
    }


    // &:after {
    //   content: "";
    //   background: url(/wp-content/themes/seo-main/assets/img/icons/Video-Play-BTN.svg) transparent left center no-repeat;
    //   background-size: cover !important;
    //   border: none;
    //   width: 5em;
    //   height: 5em;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   cursor: pointer;
    // }

    // &:hover {
    //   &:after {
    //     background: url(/wp-content/themes/seo-main/assets/img/icons/Video-Play-BTN-Hover.svg);
    //   }
    // }
  }
}

.program-landing-page {
  .c-ph__event-details {
    text-align: center;
    h2 {
      width: 80%;
      margin: auto;
      margin-top: 0;
      margin-bottom: 80px;
      font-size: 20px;
      line-height: 1.3;

      @include grid-media($md) {
      width: 25%;

      font-size: 30px;
      max-width: 320px;
      }
    } 

    .c-uie__calltoaction {
      &:before,
      &:after {
        width: 75%;
      }

      &:hover {
        &:before,
        &:after {
          width: 100%;
        }
      }
    }
  }

  .wysiwyg {
    max-width: 700px;
    margin: auto;
        padding: 0 10%;

        @include grid-media($sm) {
           padding: 0 15px;
      }

      @include grid-media($lg) {
        padding: 0 5px;
      }

    h2 {
      @include type-1;
      font-size: 32px;

      @include grid-media($md) {
        font-size: 42px;
      }
    }
  }

  .c-gallery__container {
    max-width: 1024px;
    margin: auto;
    display: block; 
    width: 100%;

    .c-gallery__section-header {
      @include grid-column(12, $no-gutter);
      
      clear: both;
      float: none;
      margin-bottom: 35px;
        
      @include grid-media($md) {
        width: 750px;
      }

      h1 {
        margin-bottom: 0;
      }

      p {
        font-size: 23px;

        @include grid-media($lg) {
          font-size: 24px;
        }
      }
    }

    .c-gallery_item-container {
      @include grid-column(12, $no-gutter);
    }

    a.c-rte__link {
        display: inline-block;
    }
  }
}

.c-pl__image-link-container {
  max-width: 1027px;
  margin: 0 auto;

  .c-pl__image-link-item {
    @include grid-column(12, $no-gutter);
      display: inline-block;
      position: relative;
      margin-bottom: 50px;

      @include grid-media($sm) {
        // width: 279px;
        height: 320px;
        margin-right: 5%;
        margin-bottom: 35px;

        @include grid-media($max-md) {
          &:nth-child(even) {
            margin-right: 0;
          }
        }
      }

      @include grid-media($md) {
        width: 222px;
        height: 260px;
        margin-right: 4.5%;
        margin-bottom: 40px;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }


    .c-pl__image-link-image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 140px;

      @include grid-media($sm) {
        height: 270px;
      }

      @include grid-media($md) {
        height: 140px;
      }

    }
    .c-pl__image-link-title {

      h3 {
        position: relative;
        top: 17px;
        display: inline;
        font-size: 19px;

        &:hover {
          border-bottom: 3px solid $light-blue;
        }
      }
    }
  }
}