// Regions

.container {
  &.region_hero {
    @include grid-column(12, $no-gutter);

    float: none;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px;
  }

  &.region_title {
    max-width: 1280px;

    .content {
      @include grid-column(12, $no-gutter);

      max-width: 780px;

      @include grid-media($lg) {
        margin-left: 220px;
      }


      @include grid-media($xl) {
        margin-left: 160px;
      }
    }
  }

  &.region_body {
    max-width: 1130px;
    margin-bottom: 50px;

    .region_left_rail {
      @include grid-column(12, $no-gutter);

      margin-bottom: 50px;

      @include grid-media($md) {
        @include grid-column(4, $no-gutter);

        max-width: 300px;
      }
    }

    .region_main_content {
      @include grid-column(12, $no-gutter);

      margin-bottom: 50px;
      padding: 0;

      @include grid-media($md) {
        @include grid-column(8, $no-gutter);

        float: right;
        max-width: 700px;
      }

      &.no-leftrail {
        margin: auto;
        float: none; 
      }
    }

    &.title-border {
      .region_main_content {
        &:before {
          content: "";
          display: block;
          border-bottom: 2px solid $light-gray;
          width: 75px;
          margin-top: 60px;
          margin-bottom: 60px;

          @include grid-media($lg) {
            width: 110px;
          }
        }
      }

      .region_left_rail {
        margin-top: 120px;
      }
    }
  }

  &.region_bottom {
    @include grid-column(12, $no-gutter);

    float: none;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px;

    .container {
      &:not(.video-component) {
        max-width: 1280px;
      }

      &.wysiwyg,
      &.faq,
      &.c-gallery {
        @include grid-media($sm) {
          @include grid-column(8, $no-gutter);

          float: right;
          padding-left: 25px;
        }
      }
    }
  }
}

.container .region_main_content {
  .container.faq {
    @include grid-column(12, $no-gutter);

    padding: 0;
  }
}

.region_bottom {
  margin-bottom: 50px;
}

.c-news-events {
  .container.region_body {
    @include grid-media($max-md) {
      padding: 0;
    }
  }
}