@font-face {
  font-family: "Grotesk";
  src: url("assets/fonts/Grotesk/HKGrotesk-Regular.eot");
  src: url("assets/fonts/Grotesk/HKGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Grotesk/HKGrotesk-Regular.woff") format("woff"), url("assets/fonts/Grotesk/HKGrotesk-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("assets/fonts/Grotesk/HKGrotesk-Light.eot");
  src: url("assets/fonts/Grotesk/HKGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Grotesk/HKGrotesk-Light.woff") format("woff"), url("assets/fonts/Grotesk/HKGrotesk-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("assets/fonts/Grotesk/HKGrotesk-Bold.eot");
  src: url("assets/fonts/Grotesk/HKGrotesk-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Grotesk/HKGrotesk-Bold.woff") format("woff"), url("assets/fonts/Grotesk/HKGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}