.callout > .pseudo-class-first-child {
  margin-top: 0;
}

.callout > .pseudo-class-last-child {
  margin-bottom: 0;
}

a.pseudo-class-active,
a.pseudo-class-hover {
  outline-width: 0;
}

.column.pseudo-class-last-child:not(:first-child),
.columns.pseudo-class-last-child:not(:first-child) {
  float: right;
}

.column.end.pseudo-class-last-child.pseudo-class-last-child,
.end.columns.pseudo-class-last-child.pseudo-class-last-child {
  float: left;
}

.small-up-1 > .column.pseudo-class-last-child,
.small-up-1 > .columns.pseudo-class-last-child {
  float: left;
}

.small-up-2 > .column.pseudo-class-last-child,
.small-up-2 > .columns.pseudo-class-last-child {
  float: left;
}

.small-up-3 > .column.pseudo-class-last-child,
.small-up-3 > .columns.pseudo-class-last-child {
  float: left;
}

.small-up-4 > .column.pseudo-class-last-child,
.small-up-4 > .columns.pseudo-class-last-child {
  float: left;
}

.small-up-5 > .column.pseudo-class-last-child,
.small-up-5 > .columns.pseudo-class-last-child {
  float: left;
}

.small-up-6 > .column.pseudo-class-last-child,
.small-up-6 > .columns.pseudo-class-last-child {
  float: left;
}

.small-up-7 > .column.pseudo-class-last-child,
.small-up-7 > .columns.pseudo-class-last-child {
  float: left;
}

.small-up-8 > .column.pseudo-class-last-child,
.small-up-8 > .columns.pseudo-class-last-child {
  float: left;
}

.small-centered.pseudo-class-last-child:not(:first-child) {
  float: none;
  clear: both;
}

.column-block > .pseudo-class-last-child {
  margin-bottom: 0;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #1468a0;
}

.menu.expanded > li.pseudo-class-first-child.pseudo-class-last-child {
  width: 100%;
}

.menu.menu-hover li.pseudo-class-hover {
  background-color: #e6e6e6;
}

.show-on-focus.pseudo-class-active,
.show-on-focus.pseudo-class-focus {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

[type='text'].pseudo-class-focus,
[type='password'].pseudo-class-focus,
[type='date'].pseudo-class-focus,
[type='datetime'].pseudo-class-focus,
[type='datetime-local'].pseudo-class-focus,
[type='month'].pseudo-class-focus,
[type='week'].pseudo-class-focus,
[type='email'].pseudo-class-focus,
[type='number'].pseudo-class-focus,
[type='search'].pseudo-class-focus,
[type='tel'].pseudo-class-focus,
[type='time'].pseudo-class-focus,
[type='url'].pseudo-class-focus,
[type='color'].pseudo-class-focus,
textarea.pseudo-class-focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fff;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

input.pseudo-class-disabled,
textarea.pseudo-class-disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.input-group > .pseudo-class-first-child {
  border-radius: 0 0 0 0;
}

.input-group > .pseudo-class-last-child > * {
  border-radius: 0 0 0 0;
}

.input-group-label.pseudo-class-first-child {
  border-right: 0;
}

.input-group-label.pseudo-class-last-child {
  border-left: 0;
}

select.pseudo-class-focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fff;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

select.pseudo-class-disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.button.pseudo-class-hover,
.button.pseudo-class-focus {
  background-color: #14679e;
  color: #fff;
}

.button.primary.pseudo-class-hover,
.button.primary.pseudo-class-focus {
  background-color: #126195;
  color: #000;
}

.button.secondary.pseudo-class-hover,
.button.secondary.pseudo-class-focus {
  background-color: #5e5e5e;
  color: #000;
}

.button.success.pseudo-class-hover,
.button.success.pseudo-class-focus {
  background-color: #22bb5b;
  color: #000;
}

.button.warning.pseudo-class-hover,
.button.warning.pseudo-class-focus {
  background-color: #cc8b00;
  color: #000;
}

.button.alert.pseudo-class-hover,
.button.alert.pseudo-class-focus {
  background-color: #a53b2a;
  color: #000;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  background-color: transparent;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  border-color: #0c3d5d;
  color: #0c3d5d;
}

.button.hollow.primary.pseudo-class-hover,
.button.hollow.primary.pseudo-class-focus {
  border-color: #0c3d5d;
  color: #0c3d5d;
}

.button.hollow.secondary.pseudo-class-hover,
.button.hollow.secondary.pseudo-class-focus {
  border-color: #3b3b3b;
  color: #3b3b3b;
}

.button.hollow.success.pseudo-class-hover,
.button.hollow.success.pseudo-class-focus {
  border-color: #157539;
  color: #157539;
}

.button.hollow.warning.pseudo-class-hover,
.button.hollow.warning.pseudo-class-focus {
  border-color: #805700;
  color: #805700;
}

.button.hollow.alert.pseudo-class-hover,
.button.hollow.alert.pseudo-class-focus {
  border-color: #67251a;
  color: #67251a;
}

.button.disabled.pseudo-class-hover,
.button.disabled.pseudo-class-focus,
.button[disabled].pseudo-class-hover,
.button[disabled].pseudo-class-focus {
  background-color: #1779ba;
  color: #fff;
}

.button.disabled.primary.pseudo-class-hover,
.button.disabled.primary.pseudo-class-focus,
.button[disabled].primary.pseudo-class-hover,
.button[disabled].primary.pseudo-class-focus {
  background-color: #1779ba;
  color: #000;
}

.button.disabled.secondary.pseudo-class-hover,
.button.disabled.secondary.pseudo-class-focus,
.button[disabled].secondary.pseudo-class-hover,
.button[disabled].secondary.pseudo-class-focus {
  background-color: #767676;
  color: #000;
}

.button.disabled.success.pseudo-class-hover,
.button.disabled.success.pseudo-class-focus,
.button[disabled].success.pseudo-class-hover,
.button[disabled].success.pseudo-class-focus {
  background-color: #3adb76;
  color: #000;
}

.button.disabled.warning.pseudo-class-hover,
.button.disabled.warning.pseudo-class-focus,
.button[disabled].warning.pseudo-class-hover,
.button[disabled].warning.pseudo-class-focus {
  background-color: #ffae00;
  color: #000;
}

.button.disabled.alert.pseudo-class-hover,
.button.disabled.alert.pseudo-class-focus,
.button[disabled].alert.pseudo-class-hover,
.button[disabled].alert.pseudo-class-focus {
  background-color: #cc4b37;
  color: #000;
}

.media-object-section.pseudo-class-first-child {
  padding-right: 1rem;
}

.media-object-section.pseudo-class-last-child:not(:nth-child(2)) {
  padding-left: 1rem;
}

.media-object-section > .pseudo-class-last-child {
  margin-bottom: 0;
}

.slick-list.pseudo-class-focus {
  outline: none;
}

.mfp-preloader a.pseudo-class-hover {
  color: #FFF;
}

.mfp-close.pseudo-class-hover,
.mfp-close.pseudo-class-focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-close.pseudo-class-active {
  top: 1px;
}

.mfp-arrow.pseudo-class-active {
  margin-top: -54px;
}

.mfp-arrow.pseudo-class-hover,
.mfp-arrow.pseudo-class-focus {
  opacity: 1;
  filter: alpha(opacity=100);
}