// Callout
.c-gh-callout {
  .container {
    max-width: 1080px;
    margin: 0 auto;
    
    @include grid-media($max-md) {
      padding: 0;
    }

    @include grid-media($md) {
      display: flex;
      justify-content: center;
    }
  }
}

.c-gh-callout__img {
  @include grid-column(12, $no-gutter);

  @include grid-media($md) {
    width: 33.33%;
    margin-right: 6.67%;
  }
}

.c-gh-callout__content {
  @include grid-column(12, $no-gutter);
  
  @include grid-media($md) {
    width: 60%;
    float: right;
  }
}

.c-gh-callout__text {
  &,
  p {
    @include type-3;
    font-weight: $font-thinnest;
    line-height: 1.2;
    color: $red;

    @include grid-media($md) {
      margin-top: -10px;
      font-size: 30px;
    }
  }
}

.c-gh-callout__citation {
  font-size: 15px;
  line-height: 1.2;
} 