/* Cta */

.c-cta__wrapper {
  &.border {
    border: 2px solid $light-gray;
  }

  @include grid-column(12, $no-gutter);

  max-width: 350px;
  padding-bottom: 20px;
  padding: 0;

  h3 {
    // @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 43px, $line-height: 1);

    margin: 0;
    padding: 40px 35px 40px 35px;
    font-weight: $font-thinnest;

    @include grid-media($sm) {
      // @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 30px, $line-height: 1);

      padding: 20px;
    }


    @include grid-media($md) {
      // @include type-custom($color: $black, $font-weight: $font-thinnest, $font-size: 43px, $line-height: 1);
      font-size: 38px;
      padding: 40px 35px 40px 35px;
    }
  }

  .c-cta--image {
    width: 80%;

    include grid-media($sm) {
      width: 294px;
    }

    height: 196px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .c-rte__link {
    margin: 40px 35px 45px 35px;
    display: inline-block;
    font-size: 18px;

    @include grid-media($sm) {
      margin: 20px;
    }


    @include grid-media($md) {
      margin: 40px 35px 45px 35px;
    }
  }
}

.cta__button {
  margin: 50px auto;
  text-align: center;

  .c-uie__calltoaction-secondary {
    padding: 15px 20px;
  }
}