/* Footer */

footer.site-footer {
  @include grid-column(12, $no-gutter);

  background: $black;
  font-weight: $font-normal;

  .c-footer__widget-container {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: table;

    @include grid-media($ft) {
      padding: 35px 50px;
    }


    a,
    p {
      color: $white;
    }

    .c-footer__widgets {
      @include grid-column(12, $no-gutter);

      // .c-footer__logo {
      //   @include grid-column(8, $no-gutter);

      //   @include grid-media($ft) {
      //     @include grid-column(6, $no-gutter);
      //   }     
      // }
      position: relative;

      img.image {
        margin-bottom: 20px;

        @include grid-media($ft) {
          margin-bottom: 0;
        }
      }

      .menu-footer-left-container,
      .menu-footer-right-container {
        @include grid-column(12, $no-gutter);

        border-left: 1px solid grey;
        padding-left: 20px;

        @include grid-media($ft) {
          margin-top: -75px;

          @include grid-column(2.2, $no-gutter);

          float: right;
          position: absolute;
          right: 0;
        }


        li {
          text-align: left;
          width: auto;
          padding: 0;
          line-height: 0.5;
          margin-bottom: 15px;

          @include grid-column(12, $no-gutter);

          // @include grid-media($ft) {
          //   text-align: left;
          // }

          a {
            font-size: 15px;

            &:hover {
              color: $light-blue;
            }
          }
        }
      }

      .menu-footer-right-container {
        li {
          &:last-of-type {
            margin-bottom: 5px;
          }
        }
      }

      .menu-footer-left-container {
        @include grid-media($ft) {
          right: 150px;

          li {
            &:last-of-type {
              margin-bottom: 5px;
            }
          }
        }
      }

      .menu-social-container {
        @include grid-column(12, $no-gutter);

        text-align: center;
        margin-top: 20px;
        line-height: 0;

        @include grid-media($ft) {
          // @include grid-column(1.8, $no-gutter);
          width: 200px;
          text-align: left;
          margin-top: 63px;
          line-height: inherit;
        }


        #menu-social {
          // width: 140px;
          // margin: auto;

          // @include grid-media($ft) {
          //   width: auto;
          // }

          float: left;

          li {
            display: inline-block;
            text-align: center;
            width: auto;
            padding: 0;
            padding-right: 10px;


            @include grid-media($ft) {
              text-align: left;
            }


            a {
              span.menu-image-title {
                display: none;
              }

              // svg {
              //   path {
              //     fill: $light-blue;
              //   }
              // }
            }
          }
        }
      }

      .textwidget {
        @include grid-column(12, $no-gutter);

        text-align: left;
        margin-top: 20px;

        @include grid-media($ft) {
          @include grid-column(5, $no-gutter);

          // text-align: left;
          margin-top: 73px;
        }


        p {
          font-size: 15px;
          margin: 0;
        }
      }
    }
  }
}