//footer 

.c-footer {
  background: $dark-gray-two;
  @include type-custom($color: $light-gray, $font-weight: $font-bold, $font-size: 13.43px, $line-height: 1.7);

  a {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  ul {
    margin: 0;

    > li {
      margin-bottom: 15px;

      li {
        margin-bottom: 0;
        a {
          @include type-custom($color: $light-gray, $font-weight: $font-normal, $font-size: 13.43px, $line-height: 1.7);
        }
      }
    }
  }

  &--short {
    padding: 60px 0;

    .home-container--cta-footer + & {
      padding: 145px 0 60px;
    }

    @include grid-media($md) {
      padding: 115px 0 60px;
    }
  }

  &--tall {
    padding: 120px 0;
  }
}

.c-footer__social {
  @include grid-column(12);

  @include grid-media($lg) {
    @include grid-column(2);
  }

  li {
    float: left;
  }
}

.c-footer__menu {
  @include grid-column(12);

  @include grid-media($md) {
    @include grid-column(12);
  }

  @include grid-media($lg) {
    @include grid-column(6, $no-gutter);
  }

  li {
    margin-top: 0;
  }
}

.c-footer__menu--col-1,
.c-footer__menu--col-2,
.c-footer__menu--col-3 {
  @include grid-media($md) {
    @include grid-column(4);
  }
}

.c-footer__menu--col-1 {
  margin-left: 0;

  @include grid-media($lg) {
    margin-left: 20px;
  }
}

.c-footer__subscribe {
  @include grid-column(12);

  @include grid-media($lg) {
    @include grid-column(4);
  }

  input {
    width: calc(100% - 110px);
  }

  .button {
    float: right;
  }
}

.c-footer__subscribe--title {
  @include type-custom($color: $orange, $font-weight: $font-normal, $font-size: 17px, $line-height: 1.5)
  margin-top: 0;
  margin-bottom: 15px;
}