/*
UI Elements

Styleguide 2.0
*/

/*
Radio Buttons

markup:
<label class="c-uie__radiobutton">One
  <input type="radio" checked="checked" name="radio">
  <span class="c-uie__checkmark"></span>
</label>
<label class="c-uie__radiobutton">Two
  <input type="radio" name="radio">
  <span class="c-uie__checkmark"></span>
</label>
<label class="c-uie__radiobutton">Three
  <input type="radio" name="radio">
  <span class="c-uie__checkmark"></span>
</label>
<label class="c-uie__radiobutton">Four
  <input type="radio" name="radio">
  <span class="c-uie__checkmark"></span>
</label>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 2.1
*/

input {
  outline: none;
}

input[type="radio"] {
  display: none;
}

.c-uie__radiobutton {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    input {
      ~ .c-uie__checkmark {
        background-color: #ccc;
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ .c-uie__checkmark {
        &:after {
          display: block;
          background: $light-blue;
          border: none;
        }
      }
    }
  }

  .c-uie__checkmark {
    border-radius: 50%;

    &:after {
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.c-uie__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid $black;

  &:after {
    content: "";
    position: absolute;
    border: 1px solid $black;
  }
}

/*
Check Box

markup:
<label class="c-uie__checkbox">One
  <input type="checkbox" checked="checked">
  <span class="c-uie__checkmark"></span>
</label>
<label class="c-uie__checkbox">Two
  <input type="checkbox">
  <span class="c-uie__checkmark"></span>
</label>
<label class="c-uie__checkbox">Three
  <input type="checkbox">
  <span class="c-uie__checkmark"></span>
</label>
<label class="c-uie__checkbox">Four
  <input type="checkbox">
  <span class="c-uie__checkmark"></span>
</label>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 2.2
*/

.c-uie__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    input {
      ~ .c-uie__checkmark {
        background-color: #ccc;
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ .c-uie__checkmark {
        &:after {
          display: block;
          background: $light-blue;
          border: none;
        }
      }
    }
  }

  .c-uie__checkmark {
    &:after {
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      transform: translate(-50%, -50%);
    }
  }
}

/*
Input Field

markup:
<label class="c-uie__input">
    <input type="text" id="fname" name="firstname" placeholder="Input Hint Text">
</div>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 2.3
*/

.c-uie__input {
  input {
    border: none;
    border-radius: 0;
    background: none;
    border-bottom: 2px solid $black;
    padding: 0;
    padding-bottom: 3px;
    box-shadow: none;
    transition: all 0.4s $cubic-transition;
    height: auto;

    &::placeholder {
      color: $black;
    }

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $black;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $black;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $black;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: $black;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      border: none;
      border-bottom: 4px solid $black;
      color: $light-blue;
      padding-bottom: 1px;

      &::placeholder {
        color: $light-blue;
      }

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $light-blue;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $light-blue;
      }

      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $light-blue;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        color: $light-blue;
      }
    }
  }
}

/*
Call to action

markup:
<a href="#" class="c-uie__calltoaction">Call to Action</a>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 2.4
*/

.c-uie__calltoaction {
  padding: 10px 20px;
  border-left: 3px solid $red;
  border-right: 3px solid $black;
  position: relative;
  text-decoration: none;

  @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 22px, $line-height: 1);

  @include grid-media($md) {
    @include type-custom($color: $black, $font-weight: $font-bold, $font-size: 26px, $line-height: 1);
  }


  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-bottom: 3px solid $black;
    width: 50%;
    transition: all 0.4s $cubic-transition-2;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    border-bottom: 3px solid $red;
    transition: all 0.4s $cubic-transition-2;
    width: 50%;
  }

  &:hover {
    &:before, &:after {
      transition: all 0.4s $cubic-transition-2;
      width: 100%;
    }
  }
}

/*
Secondary Call to action

markup:
<a href="#" class="c-uie__calltoaction-secondary">Secondary Call to Action</a>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 2.5
*/

.c-uie__calltoaction-secondary {
  padding: 10px 20px;
  position: relative;
  color: $black;
  font-weight: bold;
  text-decoration: none;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-top: 4px solid $black;
    border-left: 4px solid $black;
    width: 50%;
    height: 50%;
    transition: all 0.4s $cubic-transition-2;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    border-bottom: 4px solid $red;
    border-right: 4px solid $red;
    transition: all 0.4s $cubic-transition-2;
    width: 50%;
    height: 50%;
  }

  &:hover {
    &:before, &:after {
      transition: all 0.4s $cubic-transition-2;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
    }
  }
}

/*
Dropdown

markup:
<div class="c-uie__dropdown">
  <label class="c-uie__dropdown-heading">
    <span>Dropdown</span>
    <div class="c-uie__dropdown-list" name="img_category">
      <span class="selected"></span>
      <ul class="c-uie__dropdown-options">
        <li class="c-uie__dropdown-option">Item 1</li>
        <li class="c-uie__dropdown-option">Item 2</li>
        <li class="c-uie__dropdown-option">Item 3</li>
        <li class="c-uie__dropdown-option">Item 4</li>
      </ul>
    </div>
  </label>
</div>

sg-wrapper:
<section>
  <div class="container">
    <div class="content-grid">
      <sg-wrapper-content/>
    </div>
  </div>
</section>

Styleguide 2.6
*/

.c-uie__dropdown {
  float: left;
  width: 100%;
  margin-top: 50px;
  position: relative;
  width: 300px;
}

.c-uie__dropdown-heading {
  border-bottom: 1px solid $red;
  color: $red;
}

.c-uie__dropdown-options {
  padding: 0;
  float: left;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in-out;
  position: absolute;
  opacity: 0;
  background: $white;
  margin-top: 1px;

  &.drop {
    max-height: 10em;
    overflow: auto;
    opacity: 1;
  }
}

.c-uie__dropdown-option {
  list-style: none;
  border-bottom: 1px solid $black;
  position: relative;
  cursor: pointer;
  color: $black;
  font-size: 13px;
  font-weight: 100;
  transition: all 0.4s $cubic-transition-2;

  &:hover {
    color: $light-blue;
    transition: all 0.4s $cubic-transition-2;

    &:before {
      content: "";
      position: absolute;
      border-bottom: 2px solid $black;
      width: 50%;
      bottom: 50%;
      right: 0;
    }
  }
}