//related tags
.c-retags {
  @include grid-column(12, $no-gutter);

  h3 {
    @include type-3($color: $black);

    font-weight: $font-bold;
    margin: 0;
  }

  ul {
    @include grid-column(12, $no-gutter);
    columns: 2;
    margin-top: 25px;

    @include grid-media($md) {
      columns: 4;
    }

    li {
      margin: 0 0 15px 0;

      a {
        @include type-custom($color: $dark-gray-one, $font-weight: $font-normal, $font-size: 17px, $line-height: 1);
        text-decoration: underline;
        font-weight: $font-normal;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

//related tags with accordion

.c-retags--accordion {
  .inner {
    @include grid-media($md) {
      padding: 0;
    }

    .c-retags--accordion__inner-left {
      @include grid-column(12, $no-gutter);

      @include grid-media($md) {
        @include grid-column(3, $no-gutter);

        padding-right: 15px;
      }

      img {
        max-width: 50%;

        @include grid-media($md) {
          float: right;
        }
      }
    }

    .c-retags--accordion__inner-right {
      @include grid-column(12, $no-gutter);

      @include grid-media($md) {
        @include grid-column(9, $no-gutter);

        float: right;
      }
    }
  }

  li {
    border-bottom: 1px solid $light-gray-two;

    a {
      &.toggle {
        max-width: $content-width;
        margin: 0 auto;

        @include grid-media($md) {
          padding-left: 25%;
          max-width: 100%;
        }

        &.active {
          background: none;
          color: $black;
          padding-bottom: 0;
        }
      }

      &.c-rte__link {
        font-weight: $font-bold;
      }
    }

    li {
      border: none;
    }
  }
}

.c-retags--accordion__title {
  @include type-2($color: $dark-gray-one);

  max-width: $content-width;
  margin: 0 auto;
  padding: 30px;

  @include grid-media($md) {
    padding: 0;
    padding-left: 25%;
    max-width: 100%;
  }
}