//related content

.c-related-content {
  @include grid-container;

  a {
    @include default;
  }
}

.c-recontent {
  @include grid-column(12, $no-gutter);

  background: $white;
  background-repeat: repeat-x;
  background-position: 0 0%;
  background-size: 100% 2px;
  padding-top: 2px;
  background-image: linear-gradient(to right, rgba(210, 42, 47, 1) 0%, rgba(255, 103, 27, 1) 100%);
  padding-bottom: 18px;

  @include grid-media($md) {
    @include grid-column(6);
  }

  .c-recontent--text {
    @include grid-column(12, $no-gutter);

    @include grid-media($md) {
      @include grid-column(8, $no-gutter);

      padding-right: 3%;
    }

    .c-recontent--type {
      @include grid-column(12);

      margin: 25px 0 10px;

      @include type-custom($color: $red, $font-weight: $font-normal, $font-size: 11.9px, $line-height: 1.6);
    }

    p {
      @include type-custom($color: $dark-gray-one, $font-weight: $font-normal, $font-size: 17px, $line-height: 1.6);

      @include grid-media($md) {
        @include type-4($color: $dark-gray-one);

        font-weight: $font-normal;
      }
    }
  }

  .c-recontent--media {
    @include grid-column(12, $no-gutter);

    height: 315px;
    background-size: cover !important;

    @include grid-media($md) {
      @include grid-column(4, $no-gutter);

      height: 150px;
      float: right;
    }
  }
}

.c-recontent--report, .c-recontent--video {
  .c-recontent--text {
    @include grid-column(12, $no-gutter);

    @include grid-media($md) {
      @include grid-column(6, $no-gutter);
    }
  }

  .c-recontent--media {
    @include grid-column(12, $no-gutter);

    @include grid-media($md) {
      @include grid-column(6, $no-gutter);

      padding-left: 5%;
      float: right;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.c-recontent--readmore {
  @include grid-container;
  float: left;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}