<section class="c-gh-callout asd">
  <div class="container">
    <div class="c-gh-callout__img">
      <img src="{{ component.callout_image.url }}" />
    </div>

    <div class="c-gh-callout__content">
      <div class="c-gh-callout__text">
        <p>{{ component.callout_body }}</p>
      </div>

      <h3 class="c-gh-callout__citation">{{ component.callout_citation }}</h3>
    </div>
  </div>
</section>