<section class="c-gh-callout">
  <div class="container">
    {% if component.callout_image.url %}
      <div class="c-gh-callout__img">
        <img src="{{ component.callout_image.url }}" />
      </div>
    {% endif %}

    <div class="c-gh-callout__content">
      <div class="c-gh-callout__text">
        {% if component.text_color == 'black' %}
          <p style="color: #050505;">{{ component.callout_body }}</p>
        {% else %}
          <p>{{ component.callout_body }}</p>
        {% endif %}
      </div>

      <h5 class="c-gh-callout__citation">{{ component.callout_citation }}</h5>
    </div>
  </div>
</section>