<section>
  <div class="container">
    <div class="c-ph-intro__container">
      <div class="c-ph-intro__content">
        <p>{{component.text}}</p>
        <a href="{{component.button.url}}" class="c-rte__link">{{component.button.title}}</a>
      </div>
    </div>
  </div>
</section>
