<section>
  <div class="container c-ph-hero__container">
    <div class="c-ph-hero__content">
      {% if component.hero_type == 'image' %}
      <div class="c-ph-hero__image" style="background-image: url({{Image(component.image).src }})">
      </div>
      {% elseif component.hero_type == 'video' %}
      <div class="c-ph-hero__video">
        <video controls loop muted autoplay>
          <source src="{{component.video.url}}" type="video/mp4">
        </video>
      </div>
      {% endif %}
      <h1>{{component.text}}</h1>
    </div>
  </div>
</section>
