<section class="c-gh-intro">
  <div class="container">
    <div class="c-gh-intro__container">
      <div class="c-gh-intro__content">
        <p>{{component.intro_text}}</p>
        <a href="{{component.button.url}}" class="c-uie__calltoaction">{{component.button.title}}</a>
      </div>
    </div>
  </div>
</section>
