<section class="c-gh-callout">
  <div class="container">
    <div class="c-gh-callout__img">
      <img src="{{Image(component.callout-image).src }}" />
      Hello
    </div>

    {{ component|print_r }}

    <div class="c-gh-callout__content">
      <div class="c-gh-callout__text">
        
      </div>

      <div class="c-gh-callout__citation">
        
      </div>
    </div>
  </div>
</section>