<section>
  <div class="old">
    <div class="c-ratiometer_container">
      <div class="c-ratiometer">
        <div class="c-rationmeter-positioner">
          <div class="c-ratiometer-meter_out js-progress-bar" data-percent="{{component.percentage}}">
            <div class="c-rationmeter-meter" style="background-image: url({{Image(component.image).src }})">
            </div>
          </div>
          <div class="c-rationmeter-text">
            <h1 class="percent">{{component.percentage}}%</h1>
            <p>{{component.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$(document).ready(function() {
  // var triggerAtY = $('.c-ratiometer_container').offset().top - $(window).outerHeight();
  // $(window).scroll(function(event) {

    // #target not yet in view
    // if (triggerAtY > $(window).scrollTop()) {
    //   return;
    // }

    // $(".js-progress-bar").each( function(){
    //   var progress_circle = $(this).gmpc({
    //     line_width: 10,
    //     color: "#7CB4F6",
    //     starting_position: 35,
    //     percent: 0, // percent starts from
    //     percentage: true,
    //     height: "320px",
    //     width: "320px"
    //   })
    //   .gmpc("animate", $(this).attr("percentage"), 2000);
    //   console.log($(this).siblings(".c-rationmeter-text").attr("percentage"));
    // });
    
    // remove this event handler
    // $(this).off(event);
  // })
});
</script>