<section>
  <div class="old">
    <div class="c-ratiometer_container">
      <div class="c-ratiometer">
        <div class="c-rationmeter-positioner">
          <div class="c-ratiometer-meter_out js-progress-bar" data-percent="{{component.percentage}}">
            <div class="c-rationmeter-meter" style="background-image: url({{Image(component.image).src }})">
            </div>
          </div>
          <div class="c-rationmeter-text">
            <h2 class="percent">{{component.percentage}}</h2>
            <p>{{component.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>