<section>
  <div class="container old">
    <div class="c-ratiometer_container">
      <div class="c-ratiometer">
        <div class="c-ratiometer-meter_out" 
        style="background: #0073bf;
        background: -moz-linear-gradient(-45deg, #0073bf 0%, #0073bf 0%, white 0%, white 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, #0073bf), color-stop(0%, #0073bf), color-stop(0%, white), color-stop(100%, white));
        background: -webkit-linear-gradient(-45deg, #0073bf 0%, #0073bf {{component.percentage}}%, white 0%, white 100%);
        background: -o-linear-gradient(-45deg, #0073bf 0%, #0073bf 0%, white 0%, white 100%);
        background: -ms-linear-gradient(-45deg, #0073bf 0%, #0073bf 0%, white 0%, white 100%);">
          <div class="c-rationmeter-meter" style="background-image: url('{{Image(component.image).src }})">
          </div>
        </div>
        <div class="c-rationmeter-text">
          <h1>{{component.text}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>