<section class="c-ph-signup">
  <div class="container">
    <div class="c-ph-signup__container">
      <h2 class="c-ph-signup__title">{{component.header_text}}</h2>
      <div class="c-ph-signup__form">
        {# <form action="" id="signup_form">
          <input type="email" name="email" class="c-ph-signup__input" placeholder="name@email.com">
          <input type="text" name="zipcode" class="c-ph-signup__input" placeholder="zipcode">
        </form>
        <div class="c-ph-signup__form-button">
          <button class="c-uie__calltoaction-secondary" type="submit" form="signup_form" value="Sign Up">{{component.signup_button_label}}</button>
        </div> #}

        <!-- Begin Constant Contact Inline Form Code -->
        <div class="ctct-inline-form" data-form-id="4f44e05c-3953-42a1-8d41-78dcfc3a25ed"></div>
        <!-- End Constant Contact Inline Form Code -->

      </div>
    </div>
  </div>
</section>
