{% if component['event_header'] %}
	<div class="page-title">
	  <h1>{{component['event_header']}}</h1>
	</div>
{% endif %}

{% if component['include_event_info'] == 'yes' %}
	<section>
		<div class="container">
		  <div class="c-ph__event-details">
		    <h2>{{component['event_info_event_details']}}</h2>
		    <a class="c-uie__calltoaction" href="{{component['event_info_button_url']}}">{{component['event_info_button_label']}}</a>
		  </div>
		</div>
	</section>
{% endif %}