<section class="c-gh-donate">
	<div class="container">
		<div class="c-gh-donate__container">
			<div class="c-gh-donate__text">
				<h2>{{component.text}}</h2>
			</div>
			<div class="c-gh-donate__donate-button">
				<a href="{{component.button.url}}" class="c-uie__calltoaction">{{component.button.title}}</a>
			</div>
		</div>
	</div>
</section>