<section>
  <div class="c-image">
    <div class="c-image__image">
      <img src="{{component.image['url']}}">
    </div>

    <div class="c-image__caption">
      {{component.caption}}
    </div>
  </div>
</section>
