<section>
  <div class="c-signup">
    <h1 class="c-signup__title">{{component.header_text}}</h1>
    <div class="c-signup__form">
      <form action="">
        <input type="text" class="c-signup__input" placeholder="name@email.com">
        <input type="submit" class="c-signup__button" id="signup" value="">
      </form>
    </div>
  </div>
</section>