<div class="container slideshow">
	{% for imagecomponent in component.slideshow %}
		<img src="{{imagecomponent.image['url']}}" />
		{{imagecomponent.caption}}

		{{loop.index}} of {{loop.length}}
	{% endfor %}
</div>