<div class="container video-component">
	<div class="heading">
		<h1>{{component.heading}}</h1>
	</div>
	<div class="video">
		<div data-type="youtube" data-video-id="{{component.video}}"></div>
	</div>
	<div class="quote">
		<p>
		{{component.quote}}
		</p>
	</div>
</div>
<script>
    if (window.shr) { window.shr.setup({ count: { classname: 'btn__count' } }); }
</script>