<div class="container video-component">
	<div class="heading">
		<h1>{{component.heading}}</h1>
	</div>
	<div class="video">
		{{component.video}}
	</div>
	<div class="quote">
		<p>
		{{component.quote}}
		</p>
	</div>
</div>