<div class="container video-component">
	<div class="heading">
		<h1>{{component.heading}}</h1>
	</div>
	<div class="video">
          <div class="fullwidth__video" video-url="{{component.video}}"></div>
        </div>
        <div id="play-button" class="c-hero_playbutton"></div>
	<div class="quote">
		<p>
		{{component.quote}}
		</p>
	</div>
</div>


