<div class="container video-component">
	<div class="heading">
		<h1>{{component.heading}}</h1>
	</div>
	<div class="video">
		<iframe id="ytplayer" type="text/html" src="{{component.video|replace({'watch?v=':'embed/'})}}" frameborder="0"></iframe>
	</div>
	<div class="quote">
		<p>
		{{component.quote}}
		</p>
	</div>
</div>


