//bylines

.c-byline__author {
  font-weight: $font-bold;
  float: left;
  margin: 0 15px 0 0;
  background-repeat: repeat-x;
  background-position: 0 85%;
  background-size: 100% 2px;
  transition: all .4s $cubic-transition;
  padding-bottom: 5px;
  background-image: linear-gradient(to right, rgba(210, 42, 47, 1) 0%, rgba(255, 103, 27, 1) 100%);
}

.c-byline__date {
  font-weight: $font-normal;
  float: left;
  padding-left: 15px;
  border-left: 1px solid $dark-gray-one;
  @include type-5($color: $dark-gray-one);
}

.c-byline__connect {
  &,
  p,
  a {
    @include type-custom($color: $dark-gray-one, $font-weight: $font-normal, $font-size: 13.43px, $line-height: 1);
  }

  ul,
  p,
  ul>li {
   display: inline-block;
   margin: 0;
  }

  li {
    a {
      padding: 0 5px;
      border-right: 1px solid $dark-gray-one;
      text-decoration: underline;
    }

    &:last-child {
      a {
        border: none;        
      }
    }
  }
}

.c-byline__text {
  @include type-5($color: $dark-gray-one);
  margin-top: 0;
}

//bottom byline

.c-byline--bottom {
  .c-byline__photo {
    background-size: cover !important;
    width: 78px;
    height: 78px;
    float: left;
    border-radius: 100%;
    margin: 5px 20px 0 0;
  }

  .c-byline__author {
    display: inline-block;
    float: none;
  }
}