// LAYOUT

html {
  margin-top: 32px !important;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  @include type-4($color: $dark-gray-one);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  @include grid-container;

  max-width: $container-width;
  margin: 0 auto;
  padding: 0 10%;

  @include grid-media($md) {
    padding: 0 5%;
  }

    @include grid-media($lg-custom) {
    padding: 0;
  }
}

section.entry-content.container {
  padding: 0;
}

.content-grid {
  position: relative;

  @include grid-container;

  max-width: $content-width;
  margin: 0 auto;
}

.row {
  @include grid-media($md) {
    @include grid-collapse;

    @include grid-container;
  }
}

section {
  @include grid-container;

  margin-bottom: 40px;

  @include grid-media($md) {
    margin-bottom: 100px;
  }
}